<?xml version="1.0"?>
<config>
    <modules>
        <Brander_CommerceML>
            <version>0.1.0</version>
        </Brander_CommerceML>
    </modules>
    <global>
        <blocks>
            <brandercml>
                <class>Brander_CommerceML_Block</class>
            </brandercml>
        </blocks>
        <helpers>
            <brandercml>
                <class>Brander_CommerceML_Helper</class>
            </brandercml>
        </helpers>
        <models>
            <brandercml>
                <class>Brander_CommerceML_Model</class>
            </brandercml>
            <catalog>
                <rewrite>
                    <category_attribute_backend_urlkey>Brander_CommerceML_Model_Category_Attribute_Backend_Urlkey</category_attribute_backend_urlkey>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <brandercml_setup>
                <setup>
                    <module>Brander_CommerceML</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </brandercml_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <brandercml>
                <use>standard</use>
                <args>
                    <module>Brander_CommerceML</module>
                    <frontName>commerceml</frontName>
                </args>
            </brandercml>
        </routers>
    </frontend>
    <default>
        <brandercml>
            <options>
                <default_attr_type>select</default_attr_type>
                <created_attr_prefix>cml_</created_attr_prefix>
            </options>
            <images>
                <exclude_base_image>0</exclude_base_image>
            </images>
        </brandercml>
    </default>
</config>