<?xml version="1.0"?>
<config>
	<modules>
		<Brander_NewPost>
			<version>0.1.1</version>
		</Brander_NewPost>
	</modules>
	<global>
		<models>
			<brander_newpost>
				<class>Brander_NewPost_Model</class>
				<resourceModel>brander_newpost_resource</resourceModel>
			</brander_newpost>
			<brander_newpost_resource>
				<class>Brander_NewPost_Model_Resource</class>
				<entities>
					<locale>
						<table>np_locales</table>
					</locale>
					<city>
						<table>np_cities</table>
					</city>
					<warehouse>
						<table>np_warehouses</table>
					</warehouse>
					<address>
						<table>np_addresses</table>
					</address>
				</entities>
			</brander_newpost_resource>
		</models>
		<blocks>
			<brander_newpost>
				<class>Brander_NewPost_Block</class>
			</brander_newpost>
		</blocks>
		<helpers>
			<brander_newpost>
				<class>Brander_NewPost_Helper</class>
			</brander_newpost>
		</helpers>
		<resources>
			<brander_newpost_setup>
				<setup>
					<module>Brander_NewPost</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
			</brander_newpost_setup>
		</resources>
		<fieldsets>
			<sales_convert_quote>
				<shipping_comment>
					<to_order>*</to_order>
				</shipping_comment>
			</sales_convert_quote>
			<sales_convert_quote_item>
				<width>
					<to_order_item>*</to_order_item>
				</width>
				<height>
					<to_order_item>*</to_order_item>
				</height>>
				<depth>
					<to_order_item>*</to_order_item>
				</depth>>
			</sales_convert_quote_item>
		</fieldsets>
		<events>
			<opcheckout_controller_onepage_before_save_shipping_method>
 				<observers>
					<opcheckout_before_save_shipping_method>
 						<type>model</type>
 						<class>brander_newpost/observer</class>
 						<method>saveShippingMethod</method>
					</opcheckout_before_save_shipping_method>
 				</observers>
			</opcheckout_controller_onepage_before_save_shipping_method>
            <opcheckout_save_shipping_method>
                <observers>
                    <opcheckout_save_shipping_method>
                        <type>model</type>
                        <class>brander_newpost/observer</class>
                        <method>saveShippingMethod</method>
                    </opcheckout_save_shipping_method>
                </observers>
            </opcheckout_save_shipping_method>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<checkout_controller_onepage_save_shipping_method>
						<type>model</type>
						<class>brander_newpost/observer</class>
						<method>saveShippingMethod</method>
					</checkout_controller_onepage_save_shipping_method>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
			<sales_quote_item_set_product>
				<observers>
					<brander_dimensions>
						<class>brander_newpost/observer</class>
						<method>salesQuoteItemSetDimensions</method>
					</brander_dimensions>>
				</observers>
			</sales_quote_item_set_product>
		</events>
		<sales>
			<quote>
				<item>
					<product_attributes>
						<width />
						<height />
						<depth />
					</product_attributes>
				</item>
			</quote>
		</sales>
	</global>
	<default>
		<carriers>
			<brander_newpost>
				<active>1</active>
				<model>brander_newpost/carrier</model>
				<title>Nova Poshta</title>
				<sort>10</sort>
				<name>Nova Poshta</name>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
				<zero_cost>1</zero_cost>
			</brander_newpost>
		</carriers>
	</default>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Brander_NewPost before="Mage_Adminhtml">Brander_NewPost_Adminhtml</Brander_NewPost>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Brander_NewPost>
					<files>
						<default>Brander_NewPost.csv</default>
					</files>
				</Brander_NewPost>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<brander_newpost>
					<file>brander_newpost.xml</file>
				</brander_newpost>
			</updates>
		</layout>
		<translate>
			<modules>
				<Brander_NewPost>
					<files>
						<default>Brander_NewPost.csv</default>
					</files>
				</Brander_NewPost>
			</modules>
		</translate>
	</frontend>
</config>