<?xml version="1.0"?>
<config>
    <modules>
        <Brander_Seo>
            <version>0.1.3</version>
        </Brander_Seo>
    </modules>
    <global>
        <models>
            <brander_seo>
                <class>Brander_Seo_Model</class>
            </brander_seo>
        </models>
        <blocks>
            <brander_seo>
                <class>Brander_Seo_Block</class>
            </brander_seo>
            <catalog>
<!--                <rewrite>
                    <breadcrumbs>Brander_Seo_Block_Catalog_Breadcrumbs</breadcrumbs>
                </rewrite>-->
                <rewrite>
                    <product_view>Brander_Seo_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <brander_seo>
                <class>Brander_Seo_Helper</class>
            </brander_seo>
            <catalog>
                <rewrite>
                    <product_url>Brander_Seo_Helper_Product_Url</product_url>
                </rewrite>
            </catalog>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <brander_seo>
                    <file>brander_seo.xml</file>
                </brander_seo>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_Seo>
                    <files>
                        <default>Brander_Seo.csv</default>
                    </files>
                </Brander_Seo>
            </modules>
        </translate>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <noindex>
                        <type>singleton</type>
                        <class>brander_seo/observer</class>
                        <method>changeRobots</method>
                    </noindex>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <brander_unitopblog>
                    <file>brander_seo.xml</file>
                </brander_unitopblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_UnitopBlog>
                    <files>
                        <default>Brander_Seo.csv</default>
                    </files>
                </Brander_UnitopBlog>
            </modules>
        </translate>
    </adminhtml>
</config>