div.layerednavigation-column {
  float: left;
  width: 83px;
}

select.layerednavigation-select {
  width: 170px;
}

.layerednavigation-logo {
  padding: 0 10px 10px 0;
  float: left;
}

.layerednavigation-featured {
  padding: 5px;
}

.layerednavigation-link {
  float: left;
  padding-left: 5px;
  padding-top: 5px;
}

.layerednavigation-clearer {
  display: block;
  clear: both;
  overflow: hidden;
}

div.block-layered-nav dd a {
  display: block;
  float: left;
  padding: 8px 0;
}

div.block-layered-nav dd a.layerednavigation-attr {
  padding-left: 45px;
  background: transparent url(../../../images/brander/layerednavigation/layerednavigation-cb2.png) no-repeat left center;
}

div.block-layered-nav dd a.layerednavigation-attr-selected {
  font-weight: bold;
  padding-left: 45px;
  background: transparent url(../../../images/brander/layerednavigation/layerednavigation-cb1.png) no-repeat left center;
}

div.block-layered-nav dd a img {
  float: left;
}

div.block-layered-nav dd li.layerednavigation-cat-level-2 {
  padding-left: 10px;
}

div.block-layered-nav dd li.layerednavigation-cat-level-3 {
  padding-left: 20px;
}

div.block-layered-nav dd a.layerednavigation-cat-selected {
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: text;
}

div.block-layered-nav dd li span.layerednavigation-plusminus {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: transparent url(../../../images/brander/layerednavigation/layerednavigation-plus.gif) no-repeat;
}

div.block-layered-nav dd li span.minus {
  background: transparent url(../../../images/brander/layerednavigation/layerednavigation-minus.gif) no-repeat;
}

div.block-layered-nav dd li:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}

div.block-layered-nav dt {
  cursor: pointer;
  padding-left: 15px;
}

.slider-wrap {
  padding: 10px 15px 16px 0;
}

div.block-layered-nav div.layerednavigation-slider {
  position: relative;
  z-index: 9;
  height: 4px;
  cursor: pointer;
}
  div.block-layered-nav div.layerednavigation-slider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: -15px;
    bottom: 0;
    background: #dfdfdf;
}

div.block-layered-nav div.layerednavigation-slider div.handle {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -9px;
  z-index: 2;
  cursor: move;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  background: #fff;
}
div.block-layered-nav div.layerednavigation-slider div.handle.selected {
  z-index: 3;
}

/*
 * Slider labels
 */
.layerednavigation-slider-price {
  color: #798794;
}

.layerednavigation-slider-price-from {
  float: left;
}

.layerednavigation-slider-price-to {
  float: right;
}

.layerednavigation-slider-handle-right {
  position: absolute;
  top: 14px;
  right: 0;
}

.layerednavigation-slider-handle-left {
  position: absolute;
  top: 14px;
  left: 0;
}

.layerednavigation-tooltip {
  padding: 2px 5px;
  background: #FEC;
  border: 1px solid #FAA819;
  color: #1F5070;
  text-align: left;
  width: 200px;
  position: absolute;
}

.layerednavigation-slider-price-range {
  text-align: center;
  font-size: 0.9em;
}

.layerednavigation-tooltip-img {
  cursor: help;
}

div.block-layered-nav, div.layerednavigation-page-container, div.layerednavigation-filters-top {
  position: relative;
}

div.layerednavigation-overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: .4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

div.layerednavigation-overlay img {
  top: 100px;
  left: 45%;
  display: block;
  position: absolute;
}

div.layerednavigation-overlay div {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  background: url("../../../images/brander/opcheckout/ajax-loader-tr.gif") 50% 50% no-repeat;
  z-index: 10001;
}

/*
 * Advanced Categories
 */
.layerednavigation-advanced li {
  clear: both;
}

.layerednavigation-advanced li.level1 {
  padding-left: 20px;
}

.layerednavigation-advanced li.level2 {
  padding-left: 30px;
}

.layerednavigation-advanced li.level3 {
  padding-left: 40px;
}

.layerednavigation-advanced li.level4 {
  padding-left: 50px;
}

.layerednavigation-advanced li.active > a {
  font-weight: bold;
}

/*
 * Slider Bar
 */
.layerednavigation-slider-bar {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 4px;
}

/*
 * Subcategores block
 */
.layerednavigation-subcategory-image {
  overflow: auto;
}

.btn-remove-inline {
  background-image: url("../../../images/btn_remove.gif");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  margin-left: 4px;
}

.btn-remove-inline:hover {
  /* background-position: center bottom; */
}

.layerednavigation-hightlighted {
  background: yellow;
}
