.category-products-grid {
  margin: 0 -10px;

  .item-inner {
	padding: 20px 10px 0;
  }
}
.brander_layerednavigation-attr-selected{
	background: url(../images/arrow_mini.png) 20px 50% no-repeat;
}
.products-list {
  .item-inner {
	padding: 20px;
	border: 3px solid transparent;
	@include trs(border-color .3s ease);
	@include cleaner;

	.product-image {
	  border: 1px solid #d0e0f5;
	  overflow: hidden;

	  img {
		width: 100%;
	  }
	}

	&:hover {
	  border-color: $link-hover;
	}

	.product-name {
	  font-weight: bold;
	}
  }

  .add-to-links {
	li {
	  margin: 0 0 5px;

	  a {
		font-size: 1em;
		padding-left: 25px;

		&:before {
		  //font-family: BaseIcons;
		  position: absolute;
		  top: -1px;
		  left: 0;
		  font-size: 18px;
		  line-height: 1;
		}
		
		&:hover {
		  color: $link-hover;
		}
	  }

	  &:first-child {
		margin-right: 20px;
	  }
	}
  }

  .sticker-wrapper {
	.sticker {
	  padding: 10px;

	  @include bp(max-width, 991px) {
		padding: 5px;
		letter-spacing: -1px;
		font-weight: normal;
		text-transform: none;
	  }

	  @include bp(max-width, $bp-tiny) {
		text-transform: uppercase;
		letter-spacing: 0;
	 }
	}
  }

  .button.btn-cart {
	@include bp(max-width, 991px) {
	  min-width: 100%;
	  padding: 10px 5px;
	}
  }
}

.sidebar {
  border: 1px solid $border-color-light;
  padding: 22px 2%;
  box-sizing: border-box;

  @include bp(max-width, $bp-tiny) {
	border: none;
	margin: 0;
	padding: 0;
  }

  .block {
	margin-right: 0;
  }

  +.col-main {
	padding-left: 4%;
	box-sizing: border-box;

	@include bp(max-width, $bp-tiny) {
	  padding-left: 0;
	}

	.layerednavigation-narrow-by-list {
	  li {
		display: inline-block;
		vertical-align: top;
		width: 20%;

		@include bp(max-width, 991px) {
		  width: 33%;
		}
	  }
	}
  }

  .block-layered-nav .block-content > dl > dt {
	overflow: hidden;
	font-size: 1rem;

	span {
	  position: relative;

	  &:after {
		position: absolute;
		content: '';
		height: 1px;
		width: 1000%;
		top: 50%;
		left: 100%;
		background: $border-color-light;
		margin-left: 14px;
	  }
	}
  }
}

.pager {
  .pages {
	> strong {
	  display: none;
	}

	li {
	  border: 1px solid transparent;
	  @include trs(border-color .3s ease);

	  &:hover,
	  &.current {
		border: 1px solid $link-hover;
	  }
	}
  }
}

@include bp(min-width, 1440px) {
  .itemgrid-adaptive.itemgrid-2col {
	.item {
	  width: 31.3333%;;
	}

	> li:nth-of-type(3n+1) {
	  clear: left !important;
	}

  	> li:nth-of-type(4n+1) {
	  clear: none !important;
	}
  }
}

@media only screen and (max-width: 1279px) and (min-width: 1023px) {
  .itemgrid-adaptive.itemgrid-2col {
	.item {
	  width: 31.3333%;;
	}

	> li:nth-of-type(3n+1) {
	  clear: left !important;
	}

	> li:nth-of-type(2n+1),
	> li:nth-of-type(4n+1) {
	  clear: none !important;
	}
  }
}

@media only screen and (max-width: 767px) and (min-width: 640px) {
  .itemgrid.itemgrid-adaptive {
	.item{
	  width: 48%;
	}

	> li:nth-of-type(2n+1) {
	  clear: left !important;
	}

	> li:nth-of-type(3n+1) {
	  clear: none !important;
	}
  }
}

@include bp(max-width, $bp-tiny) {
  .block-layered-nav .block-content > dl > dt:after,
  .block-layered-nav .block-subtitle--filter:after,
  .block-layered-nav .block-content > dl > dt:before {
	display: block;
  }

  .block-layered-nav {
	dl dd ol > li > a {
	  background: none;
	}

	.block-content > dl > dt:after {
	  display: none !important;
	}
  }
}
.catalog-product-view{
	.price-box{
			@include bp(max-width, 1100px) {
				font-size: 0.8em!important;
			}
	}
	@media only screen and (max-width: 660px) and (min-width: 630px) {
		#itemslider-related-mobile{
			.owl-item{
				a.product-image{width:100px;}
				.product-details{margin-left:110px;}
			}
		}
	}
	@media only screen and (max-width: 959px){
		.box-additionals-holder{
			.box-additional.box-sidebar{
				.product{
					padding:0 10px;
				}
			}
		}
	}
}
.products-list{
	.price-box{
		@include bp(max-width, 1100px) {
			font-size: 0.8em!important;
		}
	}
}