<?xml version="1.0"?>
<config>
    <modules>
        <Brander_LayeredNavigation>
            <version>2.8.0</version>
        </Brander_LayeredNavigation>
    </modules>
    <global>
        <cache>
            <types>
                <brander_layerednavigation translate="label,description" module="brander_layerednavigation">
                    <label>Brander Layered Navigation</label>
                    <description>Indexed data for filters and their options</description>
                    <tags>layerednavigation</tags>
                </brander_layerednavigation>
            </types>
        </cache>
        <models>
            <brander_layerednavigation>
                <class>Brander_LayeredNavigation_Model</class>
                <resourceModel>brander_layerednavigation_mysql4</resourceModel>
            </brander_layerednavigation>
            <brander_layerednavigation_mysql4>
                <class>Brander_LayeredNavigation_Model_Mysql4</class>
                <entities>
                    <filter>
                        <table>layerednavigation_filter</table>
                    </filter> 
                    <value>
                        <table>layerednavigation_value</table>
                    </value> 
                    <range>
                        <table>layerednavigation_range</table>
                    </range>
                    <page>
                        <table>layerednavigation_page</table>
                    </page>
                </entities>
            </brander_layerednavigation_mysql4>

            <catalog>
                <rewrite>
                    <layer_filter_price>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_decimal>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_attribute>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_item>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>

            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Brander_LayeredNavigation_Model_Search_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite> 
            </catalogsearch>

            <enterprise_search>
                <rewrite>
                    <catalog_layer_filter_price>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Price</catalog_layer_filter_price>
                    <catalog_layer_filter_decimal>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Decimal</catalog_layer_filter_decimal>
                    <catalog_layer_filter_attribute>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
                    <catalog_layer_filter_category>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Category</catalog_layer_filter_category>
                    <catalog_layer_filter_item>Brander_LayeredNavigation_Model_Catalog_Layer_Filter_Item</catalog_layer_filter_item>
                    <client_solr>Brander_LayeredNavigation_Model_Search_Client_Solr</client_solr>
                </rewrite>
            </enterprise_search>
        </models>
        
        <resources>
            <brander_layerednavigation_setup>
                <setup>
                    <module>Brander_LayeredNavigation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brander_layerednavigation_setup>
            
            <brander_layerednavigation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brander_layerednavigation_write>
            
            <brander_layerednavigation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brander_layerednavigation_read>
        </resources>

        <blocks>
            <brander_layerednavigation>
                <class>Brander_LayeredNavigation_Block</class>
            </brander_layerednavigation>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Brander_LayeredNavigation_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <product_list_toolbar>Brander_LayeredNavigation_Block_Catalog_Product_List_Toolbar</product_list_toolbar> 
                </rewrite> 
            </catalog>  
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Brander_LayeredNavigation_Block_Search_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite> 
            </catalogsearch>
            <enterprise_search>
                <rewrite>
                    <catalog_layer_filter_attribute>Brander_LayeredNavigation_Block_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
                    <catalogsearch_layer_filter_attribute>Brander_LayeredNavigation_Block_Search_Layer_Filter_Attribute</catalogsearch_layer_filter_attribute>
               </rewrite>
            </enterprise_search>
        </blocks>
         
        <helpers>
            <brander_layerednavigation>
                <class>Brander_LayeredNavigation_Helper</class>
            </brander_layerednavigation>
            <catalog>
                <rewrite>
                    <image>Brander_LayeredNavigation_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        
        <events>
            <controller_front_init_routers>
                <observers>
                    <brander_layerednavigation>
                        <type>singleton</type>
                        <class>Brander_LayeredNavigation_Model_Observer</class>
                        <method>handleControllerFrontInitRouters</method>
                    </brander_layerednavigation>
                </observers>
            </controller_front_init_routers>
        </events> 
                
    </global>
    
     <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <brander_layerednavigation>
                        <type>singleton</type>
                        <class>brander_layerednavigation/observer</class>
                        <method>handleBlockOutput</method>
                    </brander_layerednavigation>
                </observers>
            </core_block_abstract_to_html_after>

            <catalog_controller_category_init_after>
                <observers>
                    <brander_layerednavigation>
                        <type>singleton</type>
                        <class>brander_layerednavigation/observer</class>
                        <method>handleCatalogControllerCategoryInitAfter</method>
                    </brander_layerednavigation>
                </observers>
            </catalog_controller_category_init_after>
            
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <brander_layerednavigation>
                        <type>singleton</type>
                        <class>brander_layerednavigation/observer</class>
                        <method>handleLayoutRender</method>
                    </brander_layerednavigation>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>

            <controller_action_layout_render_before_layerednavigation_index_index>
                <observers>
                    <brander_layerednavigation>
                        <type>singleton</type>
                        <class>brander_layerednavigation/observer</class>
                        <method>handleLayoutRender</method>
                    </brander_layerednavigation>
                </observers>
            </controller_action_layout_render_before_layerednavigation_index_index>
            
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <brander_layerednavigation>
                        <type>singleton</type>
                        <class>brander_layerednavigation/observer</class>
                        <method>handleLayoutRender</method>
                    </brander_layerednavigation>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>

<!--            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <enterprise_layerednavigation>
                        <class>brander_layerednavigation/observer</class>
                        <method>resetCurrentCatalogLayer</method>
                    </enterprise_layerednavigation>
                </observers>
            </controller_action_predispatch_catalog_category_view>

            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <enterprise_layerednavigation>
                        <class>brander_layerednavigation/observer</class>
                        <method>resetCurrentSearchLayer</method>
                    </enterprise_layerednavigation>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>

            <controller_action_predispatch_catalogsearch_advanced_result>
                <observers>
                    <enterprise_layerednavigation>
                        <class>brander_layerednavigation/observer</class>
                        <method>resetCurrentSearchLayer</method>
                    </enterprise_layerednavigation>
                </observers>
            </controller_action_predispatch_catalogsearch_advanced_result>-->
        </events>
        <translate>
            <modules>
                <Brander_LayeredNavigation>
                    <files>
                        <default>Brander_LayeredNavigation.csv</default>
                    </files>
                </Brander_LayeredNavigation>
            </modules>
        </translate>
        <layout>
            <updates>
                <brander_layerednavigation module="Brander_LayeredNavigation">
                    <file>brander_layerednavigation.xml</file>
                </brander_layerednavigation>
            </updates>
        </layout>
    </frontend>  
     
    <admin>
        <routers>
            <layerednavigation>
                <use>admin</use>
                <args>
                    <module>Brander_LayeredNavigation</module>
                    <frontName>layerednavigation</frontName>
                </args>
            </layerednavigation>
        </routers>
    </admin>
        
   <adminhtml>
       <events>
           <admin_system_config_changed_section_layerednavigation>
               <observers>
                   <layerednavigation>
                       <type>singleton</type>
                       <class>brander_layerednavigation/observer</class>
                       <method>settingsChanged</method>
                   </layerednavigation>
               </observers>
           </admin_system_config_changed_section_layerednavigation>
           <controller_action_postdispatch_adminhtml_catalog_product_attribute_save>
               <observers>
                   <layerednavigation>
                       <type>singleton</type>
                       <class>brander_layerednavigation/observer</class>
                       <method>attributeChanged</method>
                   </layerednavigation>
               </observers>
           </controller_action_postdispatch_adminhtml_catalog_product_attribute_save>
           <controller_action_postdispatch_adminhtml_catalog_product_attribute_delete>
               <observers>
                   <layerednavigation>
                       <type>singleton</type>
                       <class>brander_layerednavigation/observer</class>
                       <method>attributeChanged</method>
                   </layerednavigation>
               </observers>
           </controller_action_postdispatch_adminhtml_catalog_product_attribute_delete>
       </events>
        <menu>
            <catalog>
                <children>
                    <layerednavigation translate="title" module="brander_layerednavigation">
                        <title>Layered Navigation</title>
                        <sort_order>900</sort_order>
                        <children>
                            <filters translate="title" module="brander_layerednavigation">
                                <title>Filters</title>
                                <action>layerednavigation/adminhtml_filter</action>
                                <sort_order>10</sort_order>
                            </filters>
                            <ranges translate="title" module="brander_layerednavigation">
                                <title>Price Ranges</title>
                                <action>layerednavigation/adminhtml_range</action>
                                <sort_order>20</sort_order>
                            </ranges>
                            <pages translate="title" module="brander_layerednavigation">
                                <title>Pages</title>
                                <action>layerednavigation/adminhtml_page</action>
                                <sort_order>25</sort_order>
                            </pages>
                            <settings translate="title" module="brander_layerednavigation">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/brander_layerednavigation</action>
                                <sort_order>30</sort_order>
                            </settings>
                        </children>
                    </layerednavigation>
                </children>
            </catalog>
        </menu>     
   
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        
                        <catalog>
                            <children>
                                <layerednavigation>
                                    <title>Layered Navigation</title>
                                    <children>
                                        <filters> 
                                            <title>Filters</title>
                                        </filters>
                                        <ranges> 
                                            <title>Price Ranges</title>
                                        </ranges>
                                        <pages> 
                                            <title>Pages</title>
                                        </pages>
                                        <settings> 
                                            <title>Settings</title>
                                        </settings>
                                    </children>                                    
                                </layerednavigation>
                            </children>
                        </catalog>
                        
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <brander_layerednavigation translate="title" module="brander_layerednavigation">
                                            <title>Layered Navigation</title>
                                        </brander_layerednavigation>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
            </resources>
        </acl>
        <translate>
            <modules>
                <Brander_LayeredNavigation>
                    <files>
                        <default>Brander_LayeredNavigation.csv</default>
                    </files>
                </Brander_LayeredNavigation>
            </modules>
        </translate>
       <layout>
           <updates>
               <brander_layerednavigation module="Brander_LayeredNavigation">
                   <file>brander_layerednavigation.xml</file>
               </brander_layerednavigation>
           </updates>
       </layout>
    </adminhtml>
    
    <default>
        <brander_layerednavigation>
           <general>
                <active>1</active>
                <title_separator>-</title_separator>
                <descr_separator>,</descr_separator>
                <exclude></exclude>
                <exclude_cat></exclude_cat>
                <show_in_stock>0</show_in_stock>
                <use_custom_ranges>0</use_custom_ranges>
                <categories_type>0</categories_type>
                <price_type>0</price_type>
                <price_from_to>1</price_from_to>
                <price_collapsed>0</price_collapsed>
                <enable_collapsing>0</enable_collapsing>
                <categories_collapsed>0</categories_collapsed>
                <rating_collapsed>0</rating_collapsed>
                <hide_one_value>0</hide_one_value>
                <categories_order>0</categories_order>
                <slider_type>0</slider_type>
                <slider_step>1</slider_step>
                <bundle>0</bundle>
                <stock_filter_pos>-1</stock_filter_pos>
                <rating_filter_pos>-1</rating_filter_pos>
            </general>
            <block>
                <ajax>0</ajax>
                <slider_use_ui>1</slider_use_ui>
                <state_pos>left</state_pos>
                <categories_pos>left</categories_pos>
                <price_pos>left</price_pos>
            </block>
            <heading>
                <add_title>after</add_title>
                <h1_separator> - </h1_separator>
                <add_description>after</add_description>
                <add_image>1</add_image>
                <add_cms_block>1</add_cms_block>
            </heading>
            <meta>
                <add_title>after</add_title>
                <title_separator> - </title_separator>
                <add_description>after</add_description>
                <descr_separator>, </descr_separator>
                <add_keywords>before</add_keywords>
            </meta>
            <seo>
                <urls>0</urls>
                <hide_attributes>0</hide_attributes>
                <key>layerednavigation</key>
                <enable_layerednavigation_page>1</enable_layerednavigation_page>
                <canonical>2</canonical>
                <canonical_cat>1</canonical_cat>
                <prev_next>0</prev_next>
                <query_param></query_param>
                <price_nofollow>1</price_nofollow>
                <price_noindex>1</price_noindex>
                <price_rel_nofollow>1</price_rel_nofollow>
                <special_char>_</special_char>
                <option_char>-</option_char>
                <exclude_user_agent></exclude_user_agent>
            </seo>
            <brands>
                <attr></attr>
            </brands>
        </brander_layerednavigation>
    </default>
    
</config>
