<?xml version="1.0"?>
<!--
/**
 * Brander_UnitopBlog extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Brander
 * @package        Brander_UnitopBlog
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Brander_UnitopBlog>
            <version>0.1.2</version>
        </Brander_UnitopBlog>
    </modules>
    <global>
        <resources>
            <brander_unitopblog_setup>
                <setup>
                    <module>Brander_UnitopBlog</module>
                    <class>Brander_UnitopBlog_Model_Resource_Setup</class>
                </setup>
            </brander_unitopblog_setup>
        </resources>
        <blocks>
            <brander_unitopblog>
                <class>Brander_UnitopBlog_Block</class>
            </brander_unitopblog>
        </blocks>
        <helpers>
            <brander_unitopblog>
                <class>Brander_UnitopBlog_Helper</class>
            </brander_unitopblog>
        </helpers>
        <models>
            <brander_unitopblog>
                <class>Brander_UnitopBlog_Model</class>
                <resourceModel>brander_unitopblog_resource</resourceModel>
            </brander_unitopblog>
            <brander_unitopblog_resource>
                <class>Brander_UnitopBlog_Model_Resource</class>
                <entities>
                    <postscategory>
                        <table>brander_unitopblog_postscategory</table>
                    </postscategory>
                    <post>
                        <table>brander_unitopblog_post</table>
                    </post>
                    <post_product>
                        <table>brander_unitopblog_post_product</table>
                    </post_product>
                    <post_category>
                        <table>brander_unitopblog_post_category</table>
                    </post_category>
                    <post_comment>
                        <table>brander_unitopblog_post_comment</table>
                    </post_comment>
                    <post_comment_store>
                        <table>brander_unitopblog_post_comment_store</table>
                    </post_comment_store>
                    <eav_attribute>
                        <table>brander_unitopblog_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </brander_unitopblog_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <brander_unitopblog>
                        <class>Brander_UnitopBlog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </brander_unitopblog>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <brander_unitopblog>
                    <file>brander_unitopblog.xml</file>
                </brander_unitopblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_UnitopBlog>
                    <files>
                        <default>Brander_UnitopBlog.csv</default>
                    </files>
                </Brander_UnitopBlog>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <brander_unitopblog_post_product>
                        <type>singleton</type>
                        <class>brander_unitopblog/adminhtml_observer</class>
                        <method>addProductPostBlock</method>
                    </brander_unitopblog_post_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <brander_unitopblog_post_category>
                        <type>singleton</type>
                        <class>brander_unitopblog/adminhtml_observer</class>
                        <method>addCategoryPostBlock</method>
                    </brander_unitopblog_post_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_save_after>
                <observers>
                    <brander_unitopblog_post_product>
                        <type>singleton</type>
                        <class>brander_unitopblog/adminhtml_observer</class>
                        <method>saveProductPostData</method>
                    </brander_unitopblog_post_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <brander_unitopblog_post_category>
                        <type>singleton</type>
                        <class>brander_unitopblog/adminhtml_observer</class>
                        <method>saveCategoryPostData</method>
                    </brander_unitopblog_post_category>
                </observers>
            </catalog_category_save_after>
        </events>
        <global_search>
            <post>
                <class>brander_unitopblog/adminhtml_search_post</class>
                <acl>brander_unitopblog</acl>
            </post>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Brander_UnitopBlog before="Mage_Adminhtml">Brander_UnitopBlog_Adminhtml</Brander_UnitopBlog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <brander_unitopblog>
                <use>standard</use>
                <args>
                    <module>Brander_UnitopBlog</module>
                    <frontName>blog</frontName>
                </args>
            </brander_unitopblog>
        </routers>
        <layout>
            <updates>
                <brander_unitopblog>
                    <file>brander_unitopblog.xml</file>
                </brander_unitopblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_UnitopBlog>
                    <files>
                        <default>Brander_UnitopBlog.csv</default>
                    </files>
                </Brander_UnitopBlog>
            </modules>
        </translate>
    </frontend>
    <default>
        <brander_unitopblog>
            <homepage>
                <enable>1</enable>
                <show_as_slider>0</show_as_slider>
                <breakpoints>[0, 1], [320, 2], [480, 2], [960, 3], [1280, 3]</breakpoints>
                <attach_newsletters>0</attach_newsletters>
                <posts_row_limit>3</posts_row_limit>
                <posts_limit>12</posts_limit>
                <posts_block_title>News and Articles</posts_block_title>
            </homepage>
            <product_category>
                <tab_posts_limit>5</tab_posts_limit>
                <show_category_tabs>1</show_category_tabs>
                <show_category_description_in>0</show_category_description_in>
                <show_product_tabs>1</show_product_tabs>
            </product_category>
            <settings>
                <days_to_archive>40</days_to_archive>
            </settings>
            <postscategory>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Post Categories</meta_title>
                <tree>1</tree>
                <recursion>0</recursion>
            </postscategory>
            <post>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Posts</meta_title>
                <short_content_limit>120</short_content_limit>
                <allow_guest_comment>1</allow_guest_comment>
                <necessarily_poster_email>0</necessarily_poster_email>
            </post>
            <post_product_slider>
                <enable>0</enable>
                <product_limit>10</product_limit>
                <breakpoints>[0, 1], [320, 2], [480, 3], [768, 4], [960, 5], [1280, 6]</breakpoints>
                <responsive>1</responsive>
                <show_items>5</show_items>
                <img_width>195</img_width>
                <img_height>195</img_height>
                <aspect_ratio>1</aspect_ratio>
                <init_delay>2000</init_delay>
                <pagination>1</pagination>
                <random>0</random>
                <hide_button>1</hide_button>
                <move>3</move>
                <loop>1</loop>
                <timeout>4000</timeout>
                <speed>400</speed>
                <auto_speed>400</auto_speed>
                <pause>1</pause>
                <lazy>1</lazy>
                <centered>1</centered>
                <equal_height>1</equal_height>
            </post_product_slider>
        </brander_unitopblog>
        <ultimo_design>
            <blog>
            </blog>
            <category>
                <grid_item_image_border></grid_item_image_border>
                <grid_item_image_border_color></grid_item_image_border_color>
                <price_slider_color_background>#f2f2f2</price_slider_color_background>
                <price_slider_color_active>#fb0027</price_slider_color_active>
                <price_slider_color_handle>#fb0027</price_slider_color_handle>
                <price_slider_color_handle_background>#ffffff</price_slider_color_handle_background>
            </category>
            <colors>
                <social_icon_border_value translate="label"></social_icon_border_value>
            </colors>
        </ultimo_design>
    </default>
</config>
