<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Brander_MarketExport>
            <version>0.6.3</version>
        </Brander_MarketExport>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <marketexport before="Mage_Adminhtml">Brander_MarketExport_Adminhtml</marketexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <routers>
            <marketExport>
                <use>standard</use>
                <args>
                    <module>Brander_MarketExport</module>
                    <frontName>export</frontName>
                </args>
            </marketExport>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <marketexport>
                    <file>brander_marketexport.xml</file>
                </marketexport>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_MarketExport>
                    <files>
                        <default>Brander_MarketExport.csv</default>
                    </files>
                </Brander_MarketExport>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <brander_marketexport_setup>
                <setup>
                    <module>Brander_MarketExport</module>
                    <connection>core_setup</connection>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </brander_marketexport_setup>
        </resources>
        <blocks>
            <marketexport>
                <class>Brander_MarketExport_Block</class>
            </marketexport>
        </blocks>
        <models>
            <marketexport>
                <class>Brander_MarketExport_Model</class>
                <resourceModel>marketexport_mysql4</resourceModel>
            </marketexport>
            <marketexport_mysql4>
                <class>Brander_MarketExport_Model_Mysql4</class>
                <entities>
                    <export>
                        <table>market_export</table>
                    </export>
                </entities>
            </marketexport_mysql4>
        </models>
        <helpers>
            <marketexport>
                <class>Brander_MarketExport_Helper</class>
            </marketexport>
        </helpers>
    </global>
<!--    <crontab>
        <jobs>
            <marketexport_exportall>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>marketexport/observer::exportall</model>
                </run>
            </marketexport_exportall>
        </jobs>
    </crontab>-->
    <frontend>
        <routers>
            <marketExport>
                <use>standard</use>
                <args>
                    <module>Brander_MarketExport</module>
                    <frontName>export</frontName>
                </args>
            </marketExport>
        </routers>
    </frontend>
</config>

