.header-container {
  .links > li > a:hover {
    color: $link-hover !important;
  }

  .nav-regular {
    > .nav-item.first {
      position: relative;

      @include bp(min-width, 800px) {
        box-sizing: border-box;

        > a {
          font-size: 16px;
          padding-left: 65px;
          position: relative;
          background: #132b7f;

          > .caret {
            display: none;
          }

          @include bp(max-width, 1024px) {
            &:after {
              left: 15px;
            }
          }
        }

        > ul {
          width: 100%;
        }
      }
    }
  }

  .logo-wrapper {
    .logo {
      //max-width: 293px;
    }
  }

  .lang-switcher {
    &.dropdown {
      .dropdown-content {
        min-width: 100%;
        box-sizing: border-box;
        padding: 15px;
      }
    }

    .caret {
      &:before {
        display: none;
      }
    }
  }

  .hp-block.right-column {
    .item {
      &:nth-child(2) {
        float: left;
      }
    }
  }

  .dropdown.header-contacts {
    a {
      font-size: 16px;
      font-weight: 500;
    }

    .caret {
      &:before {
        display: none;
      }
    }

    .dropdown-content {
      min-width: 100%;
      box-sizing: border-box;
      padding: 5px 13px 5px 17px;

      li {
        margin-bottom: 8px;
        white-space: normal;
        clear: both;
        padding-left: 2px;
      }

      .operator-icon {
        display: none;
        float: left;
        margin: 0 8px 8px 0;
      }

      .content {
        display: block;
        overflow: hidden;
        margin-bottom: 8px;
      }
    }
  }

  .callback-header {
    margin-right: 0;
  }
}

.header-regular {
  #mini-cart-label {
    display: none;
  }
}

.callback-header {
  a {
    font-weight: 500;
  }

  .callback-title {
    display: block;
  }
}

.links-wrapper-separators .links > li {
  > a {
    background: none;
  }
}

.header-primary-container {
  margin: 0 -15px;
}

.user-menu {
  [id$="-wrapper-regular"] {
    float: right;

    @include bp(max-width, 769px){
      float: none;
    }
  }
  
  .dropdown {
    &.is-not-empty {
      color: $link-hover;
    }

    .dropdown-heading {
      font-size: 1.125rem;
      max-height: none;

      .caret {
        display: none;
      }

      .ic {
        font-size: 1.7rem;
      }
    }
  }
}

#mini-cart {
  background: #2846b0;

  .mini-cart-heading {
    font-size: 13px;
    letter-spacing: .5px;
  }

  .mini-cart-content {
    .actions {
      button {
        font-size: 1rem;
        text-transform: none;
        padding: 0 5px;

        &:last-child {
          float: right;
        }
      }
    }

    .btn-edit {
      font-size: 1rem;
    }

    .btn-remove {
      font-size: 1.3rem;
      margin-top: -2px;
    }
  }
}

.header-mobile {
  .header {
    > .inner-container {
      padding: 0;
    }
  }

  #header-nav {
    .nav {
      width: 100%;
    }
  }

  .user-menu {
    border: none;
  }

  @include bp(max-width, 769px) {
    .hp-block {
      .item-right {
        float: none;
        margin-left: 0;
        text-align: left;
      }
    }
  }

  @include bp(max-width, $bp-tiny) {
    .skip-link {
      font-size: 16px;
    }
  }
}

// SEARCH AUTOCOMPLETE
.search-wrapper {
  .reset-button {
    display: none;
  }

  #search_mini_form {
    @include cleaner;

    .input-text {
      font-size: 13px;
      border-width: 0 0 1px;
      border-radius: 0;
      background: none;
      @include trs(color .15s ease-in-out);

      & + button {
        font-size: 20px;
        color: $link-hover;
      }
    }
  }

  .searchautocomplete-search {
    border: 1px solid #d5d5d5;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
    padding: 10px;
    right: 0;

    .s_item {
      @include cleaner;
      @include trs(opacity .3s ease, border-color .3s ease);
      margin-bottom: 20px;
      opacity: .65;
      border-bottom: 1px solid #333;

      &:hover {
        opacity: 1;
        border-color: #ffab00;
      }
    }

    .s_icon {
      float: left;
      width: 80px;
    }

    .s_details {
      float: left;
      width: calc(100% - 80px);
      padding-left: 20px;
      padding-bottom: 10px;
      box-sizing: border-box;
      text-align: left;
    }

    a {
      display: inline-block;

      .s_item_name {
        color: #333;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 10px;
        @include trs(color .3s ease);
      }

      &:hover {
        .s_item_name {
          color: #ffab00;
        }
      }
    }
  }
}

.callback-header {
  a {
    font-size: 13px;
    text-transform: uppercase;
  }
}

[id^="mini-account"] {
  > a {
    display: inline-block;
    vertical-align: middle;
    padding-right: 12px;
  }
}

#mini-account {
  .caret {
    display: none;
  }
}