#top {
  .header-primary-container {
    position: relative;
    z-index: 1000;

    .hp-blocks-holder {
      .header-primary-left-half {
        width: 60%;
        height: 60px;
        display: table-cell;
        vertical-align: middle;

        .logo_block, .left-right-column {
          height: 100%;
          display: block;
          float: left;
          box-sizing: border-box;
        }
        .logo_block {
          width: 45%;
        }
        .left-right-column {
          width: 55%;
        }

        .left-right-column {
          .container_header_primary_central_1 {
            display: block;
            float: left;
            position: relative;
            right: 0;
            top: 0;
            margin: 0;

            @include bp(max-width, 1140px) {
              width: 100% !important;

              &.callback-header {
                position: absolute;
                left: 17%;
                top: 0;
                text-indent: 10px;
                padding-top: 0 !important;

                @include bp(max-width, 900px) {
                  left: 8%;
                }
              }
              .header-contacts.dropdown {
                top: 0 !important;
              }
            }

            .header-contacts.dropdown {
              padding: 0;
              top: 19px;

              &.dropdown .dropdown-content {
                right: auto;
                left: 0;
                top: 0;
                width: 100%;
                min-width: 0;
                padding: 2px 0 2px 17px;
              }
            }

            .header-contacts:not(.dropdown) {
              span {
                line-height: 36px;
                padding: 2px 25px 2px 17px;
                position: relative;
                top: 12px;
              }
            }

            &.callback-header {
              width: 45%;
              padding-top: 24px;
              .links {
                float: left;

                .nav-item {
                  line-height: 24px;
                }
              }
            }
          }
        }

        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }

      .header-primary-right-half {
        width: 40%;
        height: 60px;
        display: table-cell;
        vertical-align: middle;

        .hp-block {
          .item:nth-child(2) {
            margin-left: 0;
          }
        }
      }

      @include bp(max-width, 1140px) {
        .header-primary-left-half {
          width: 50%;

          .logo_block {
            width: 52%;
          }
          .left-right-column {
            width: 48%;
            padding-left: 10%;
          }
        }
        .header-primary-right-half {
          width: 50%;
        }
      }
      @include bp(max-width, 900px) {
        .header-primary-left-half {
          .left-right-column {
            padding-left: 6%;
          }
        }
      }
      @include bp(max-width, 769px) {
        .header-primary-left-half {
          display: none;
        }
        .header-primary-right-half {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    #mini-account-wrapper-regular {
      .links {
        li {
          a {
            font-size: 12px;
          }
        }
      }

      .mini-account-heading {
        .label {
          font-size: 12px;
          margin-left: 2px;
          letter-spacing: 0;
        }
      }
    }
  }
  @include bp(max-width, 1600px) {
    .nav-regular {
      li.level0 {
        > a {
          padding: 0 20px !important;
        }
        &.first {
          > a {
            padding: 0 0 0 50px !important;
          }
        }
      }
    }
  }
  @include bp(max-width, 1300px) {
    .nav-regular {
      li.level0 {
        > a {
          &.no-click {
            padding: 0 0 0 50px !important;
          }
        }
      }
    }
  }
  @include bp(max-width, 1200px) {
    .nav-regular {
      li.level0 {
        > a {
          padding: 0 15px !important;
          &.no-click {
            padding: 0 0 0 50px !important;
          }
        }
      }
    }
  }
  @include bp(max-width, 1100px) {
    .nav-regular {
      li.level0 {
        > a {
          padding: 0 10px !important;
          &.no-click {
            padding: 0 0 0 50px !important;
          }
        }
      }
    }
  }
}

#top.header-mobile {
  .header-primary-container {
    #mini-account-wrapper-regular {
      .links {
        li {
          a {
            line-height: 44px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.header-container {
  .nav-regular {
    > .nav-item.first {
      position: relative;

      @include bp(min-width, 800px) {
        box-sizing: border-box;

        > a {
          font-size: 1rem;
          line-height: 1.4;
          letter-spacing: 2px;
          padding-left: 50px;
          box-sizing: border-box;
          position: relative;
          background: #132b7f !important;

          > .caret {
            display: none;
          }
        }

        > ul {
          width: 100%;
        }
      }
    }
  }

  .lang-switcher {
    &.dropdown {
      .dropdown-content {
        min-width: 100%;
        box-sizing: border-box;
        padding: 0 10px 5px;

        > li .label {
          margin-right: 4px;
        }
      }
    }

    .caret {
      &:before {
        display: none;
      }
    }
  }

  .hp-block.right-column {
    .item {
      &:nth-child(2) {
        float: left;
        margin-left: 20%;

        @include bp(min-width, 1560px) {
          margin-left: 26%;
        }

        @include bp(max-width, 1199px) {
          margin-left: 15%;
        }

        @include bp(max-width, 769px) {
          float: none;
        }
      }

      @include bp(max-width, 1140px) {
        margin-left: 5% !important;
      }

      @include bp(max-width, 991px) {
        margin-left: 3% !important;
      }

      @include bp(max-width, 840px) {
        margin-left: 0 !important;
      }
    }
  }

  .header-contacts {
    padding-top: 10px;
    font-size: 1rem;
  }

  .dropdown.header-contacts {
    padding-top: 5px;

    @include bp(max-width, 1140px) {
      margin-top: 22px;
      min-width: 153px;
      padding-top: 0;
    }

    a {
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 500;
      cursor: auto;

      @include bp(max-width, 991px) {
        letter-spacing: 0;
      }
    }

    .caret {
      &:before {
        display: none;
      }
    }

    .dropdown-content {
      min-width: 100%;
      box-sizing: border-box;
      padding: 2px 13px 2px 17px;

      li {
        margin-bottom: 8px;
        white-space: normal;
        clear: both;
        padding-left: 2px;
      }

      .operator-icon {
        display: none;
        float: left;
        margin: 0 8px 8px 0;
      }

      .content {
        display: block;
        overflow: hidden;
        margin-bottom: 8px;
      }
    }
  }
}

.vert-nav {
  @include bp(max-width, 959px) {
    display: none;
  }
}

.header-regular {
  .central-column {
    position: relative;
    z-index: 10;
    @include bp(min-width, 1500px) {
      right: -5%;
    }
  }

  .hp-block.right-column {
    padding-top: 16px;
  }

  #mini-cart {
    min-width: 175px;

    .label {
      margin-right: 12px;
    }

    &.open {
      .count {
        background: #333;
        color: $white;
      }

      .ic-cart {
        color: #333;
      }
    }
  }

  #lang-switcher-wrapper-regular {
    @include bp(max-width, 1140px) {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: -4px;
    }
  }

  .mini-account {
    @include bp(max-width, 1140px) {
      margin-top: 5px;
    }

    .label {
      font-size: 13px;
      letter-spacing: .5px;
      font-weight: 500;
      line-height: 40px;
      text-transform: uppercase;
      margin-left: 5px;

      @include bp(max-width, 991px) {
        letter-spacing: 0;
      }
    }

    &.open {
      .ic-user {
        color: #333;
      }
    }
  }

  #mini-cart-heading {
    display: block;
  }

  .ic-cart {
    margin-right: 12px;
    color: $link-hover;
  }

  .count {
    width: auto;
    min-width: 18px;
    background: #20388d;
    border-radius: 50%;
    padding: 4px;
    line-height: 1.4;
  }

  .ic-user {
    display: inline-block;
    vertical-align: middle;
    color: $link-hover;

    & + .label {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.form-search {
  padding-top: 2px;
}

.callback-header {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -16px;
  margin-right: 0 !important;

  @include bp(max-width, 1500px) {
    right: -60px;
  }

  @include bp(max-width, 1140px) {
    right: auto;
    left: 20px;
    top: 0;
    margin-top: -5px;
  }

  li {
    a {
      padding-top: 3px;
      color: $link-hover;
      font-weight: 500;
      letter-spacing: .5px;

      @include bp(max-width, 870px) {
        letter-spacing: 0;
      }

      &:hover {
        color: $link-hover-light !important;
      }
    }
  }

  .callback-title {
    display: block;
  }
}

.user-menu {
  [id$="-wrapper-regular"] {
    float: right;

    @include bp(max-width, 769px) {
      float: none;
    }
  }

  .dropdown {
    &.is-not-empty {
      color: $link-hover;
    }

    .dropdown-heading {
      font-size: 1.125rem;
      max-height: none;

      .caret {
        display: none;
      }

      .ic {
        font-size: 1.7rem;
      }
    }
  }
}

#mini-cart {
  background: #2846b0;

  .mini-cart-heading {
    font-size: 13px;
    letter-spacing: .5px;
  }

  .mini-cart-content {
    .actions {
      button {
        font-size: 1rem;
        text-transform: none;
        padding: 0 5px;

        &:last-child {
          float: right;
        }
      }
    }

    .btn-edit {
      font-size: 1rem;
    }

    .btn-remove {
      font-size: 1.3rem;
      margin-top: -2px;
    }
  }
}

.header {
  .hp-block {
    @include bp(max-width, $bp-desktop) {
      &.right-column {
        .item-left {
          margin-right: 0;
        }
      }
    }
  }
}

.header-mobile {
  .header-primary {
    width: 100%;
  }

  .nav {
    .inner-container {
      padding: 0;
    }
  }

  .hp-block {
    @include bp(max-width, 769px) {
      width: 100%;
      float: none;
      margin: 0;
      @include cleaner;
    }
  }

  .logo-wrapper--mobile {
    .logo {
      max-width: 474px;
      margin: 0 auto 40px;

      @include bp(max-width, $bp-tiny) {
        padding-left: 30px;
        padding-right: 30px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .lang-switcher {
    top: -20px;
  }

  .logo-wrapper--mobile {
    width: 100%;
  }

  .header-top {
    .container_header_primary_central_1 {
      display: block;
    }

    .dropdown.header-contacts {
      margin-top: 0;
    }
    .header-contacts:not(.dropdown) {
      padding-left: 10px;
      padding-top: 4px;

      a {
        color: #fff;
      }
    }

    .callback-header {
      position: static;
      float: right;
      margin-top: 0;
    }
  }

  .header {
    > .inner-container {
      padding: 0;
    }
  }

  #header-nav {
    .nav {
      width: 100%;
    }
  }

  .user-menu {
    border: none;
  }

  #mini-cart {
    .count {
      width: auto;
      padding: 4px;
      border-radius: 50%;
      background: #122876;
      min-width: 18px;
      color: $white;
      font-weight: 600;
      line-height: 1.3;
    }
  }

  @include bp(max-width, 769px) {
    .hp-block {
      .item-right {
        float: none;
        margin-left: 0;
        text-align: left;
      }
    }
  }

  @include bp(max-width, $bp-tiny) {
    .skip-link {
      font-size: 16px;
    }
  }
}

// SEARCH AUTOCOMPLETE
.search-wrapper {
  .reset-button {
    display: none;
  }

  #search_mini_form {
    @include cleaner;

    .input-text {

      font-size: 13px;
      border-width: 0 0 1px;
      border-radius: 0;
      background: #e6effb;
      color: #333333;
      width: 254px;
      @include trs(color .15s ease-in-out);

      @include bp(min-width, 1520px) {
        width: 330px;
      }

      @include bp(max-width, 1140px) {
        width: 300px;
      }

      @include bp(max-width, 940px) {
        width: 220px;
      }

      @include bp(max-width, 870px) {
        width: 190px;
      }

      @include bp(max-width, 769px) {
        width: 100%;
        margin-left: 0;
      }

      & + button {
        font-size: 20px;
        color: $link-hover;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .searchautocomplete-search {
    border: 1px solid #d5d5d5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    right: 0;
    text-align: center;

    .s_item {
      @include cleaner;
      @include trs(border-color .3s ease);
      margin-bottom: 20px;
      border-bottom: 1px solid #333;

      &:hover {
        border-color: $link-hover;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }

    .s_icon {
      margin-bottom: 10px;
    }

    .s_details {
      padding-bottom: 10px;
      box-sizing: border-box;
    }

    .s_description {
      display: none;
    }

    a {
      display: inline-block;

      .s_item_name {
        color: $muddy;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 10px;
        @include trs(color .3s ease);
      }

      &:hover {
        .s_item_name {
          color: $dark;
        }
      }
    }
  }
}

.search-autocomplete {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

  @include bp(max-width, $bp-tiny) {
    right: 0;
  }

  a.search-more {
    color: $dark;

    &:hover {
      color: $link-hover;
    }
  }
}

.callback-header {
  a {
    font-size: 13px;
    text-transform: uppercase;
  }
}

[id^="mini-account"] {
  > a {
    display: inline-block;
    vertical-align: middle;
    padding-right: 12px;
  }
}

#mini-account {
  .caret {
    display: none;
  }

  .mini-account-content {
    padding: 0;
    width: 100%;
    margin: 0;

    a {
      &:hover {
        background: $link-hover;
      }
    }
  }
}

#header-cart {
  @include bp(max-width, 1200px) {
    .actions {
      button {
        float: none !important;
        display: block;
        margin: 0;
        &:first-child {
          margin-bottom: 10px !important;
        }
      }
    }
  }
  @include bp(max-width, 800px) {
    .actions {
      button {
        width: 100%;
      }
    }
  }
}
