// BREAKPOINTS
$bp-medium  : 1365px;
$bp-small   : 1023px;
$bp-desktop : 991px;
$bp-tiny    : 767px;
$bp-smallest: 479px;
$bp-micro   : 320px;

// FONT-WEIGHTS
$bold        : 700;
$medium      : 500;
$regular     : 400;
$light       : 300;

// LINEHEIGHTS
$lh-large       : 1.618;
$lh-medium      : 1.375;
$lh-small       : 1.2;
$lh-smallest    : 1;

//COLORS
$link :        #ccc;
$link-hover:   #ebca14;
$link-hover-light: #f5dd17;
$dark:         #163294;
$darkest:      #132b7f;
$muddy:        #35426d;
$border-color: #6c80c5;
$border-color-light: #d7d1d1;
$gray:         #ecf3fc;
$white:        #ffffff;