<?xml version="1.0"?>
<config>
	<modules>
		<Brander_Faq>
			<version>0.1.2</version>
		</Brander_Faq>
	</modules>
	<global>
		<models>
			<brander_faq>
				<class>Brander_Faq_Model</class>
			</brander_faq>
		</models>
		<blocks>
			<brander_faq>
				<class>Brander_Faq_Block</class>
			</brander_faq>
		</blocks>
		<helpers>
			<brander_faq>
				<class>Brander_Faq_Helper</class>
			</brander_faq>
		</helpers>
		<resources>
			<brander_faq_setup>
				<setup>
					<module>Brander_Faq</module>
					<class>Brander_Cms_Model_Entity_Setup</class>
				</setup>
			</brander_faq_setup>
		</resources>
	</global>
	<frontend>
        <routers>
            <brander_faq>
                <use>standard</use>
                <args>
                    <module>Brander_Faq</module>
                    <frontName>branderfaq</frontName>
                </args>
            </brander_faq>
        </routers>
		<layout>
			<updates>
				<brander_faq>
					<file>brander_faq.xml</file>
				</brander_faq>
			</updates>
		</layout>
		<translate>
			<modules>
				<Brander_Faq>
					<files>
						<default>Brander_Faq.csv</default>
					</files>
				</Brander_Faq>
			</modules>
		</translate>
		<routers>
			<faq>
				<use>standard</use>
				<args>
					<module>Brander_Faq</module>
					<frontName>faq</frontName>
				</args>
			</faq>
		</routers>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Brander_Faq>
					<files>
						<default>Brander_Faq.csv</default>
					</files>
				</Brander_Faq>
			</modules>
		</translate>
	</adminhtml>
	<cmsadvanced>
		<pagetypes>
			<branderfaqtype translate="name" module="brander_faq">
				<name>F.A.Q. Page</name>
				<template>brander/faq/main.phtml</template>
                <cached>0</cached>
				<groups>
					<general>
						<attributes>
							<form_title>
								<template>text</template>
							</form_title>
						</attributes>
					</general>
					<branderfaqgroup>
						<name>F.A.Q. Questions</name>
						<attributes>
							<branderfaqentities>
								<input>grid</input>
							</branderfaqentities>
						</attributes>
					</branderfaqgroup>
				</groups>
			</branderfaqtype>
		</pagetypes>
	</cmsadvanced>
    <default>
        <brander_faq>
            <faq_settings>
                <show_more_limit>10</show_more_limit>
            </faq_settings>
        </brander_faq>
    </default>
</config>