<?xml version="1.0"?>
<config>
    <modules>
        <Brander_SiteHeart>
            <version>0.1.0</version>
        </Brander_SiteHeart>
    </modules>
    <global>
        <blocks>
            <siteheart>
                <class>Brander_SiteHeart_Block</class>
            </siteheart>
        </blocks>
        <helpers>
            <siteheart>
                <class>Brander_SiteHeart_Helper</class>
            </siteheart>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <siteheart>
                    <file>brander_siteheart.xml</file>
                </siteheart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Brander_SiteHeart>
                    <files>
                        <default>Brander_SiteHeart.csv</default>
                    </files>
                </Brander_SiteHeart>
            </modules>
        </translate>
    </adminhtml>
</config>