#nav,
#nav-left {
  .section-title {
	font-size: 1.4em;
	margin-top: 10px;
  }

  .nav-panel-inner {
	padding: 0;
  }

  .nav-panel--dropdown {
	box-sizing: border-box;
  }

  a:not(.mini-cart-heading) {
	.caret {
	  border: none;
	  transform: rotate(-90deg);
	  position: absolute;
	  top: 50%;
	  margin: -8px 0 0 0;
	  right: 5px;
	}
  }

  .nav-item  {
	.nav-panel--dropdown {
	  .nav-item.mega {
		.nav-submenu {
		  .nav-item--only-subcategories {
			li {
			  a {
				padding: 4px 20px 5px 32px !important;
			  }

			  &:after {
				left: 15px;
			  }
			}
		  }
		}
	  }
	}
  }

  .nav-item--only-subcategories {
	&.simple {
	  .nav-submenu {
		li {
		  a {
			padding: 4px 20px 5px 32px !important;

			&:after {
			  left: 15px;
			}
		  }
		}
	  }
	}
  }

  .itemslider-wrapper .owl-controls .owl-buttons {
	top: -38px;
  }

  [id^="nav-holder"] {
	.caret {
	  display: none;
	}
  }
}

.header-regular {
  #nav,
  #nav-left {
	> .nav-item {
	  > .nav-panel--dropdown {
		padding: 0;

		> .nav-item {
		  a {
			display: block;
			padding: 0 20px 0 12px;
			line-height: 50px;
		  }
		}
	  }
	}
  }
}

#header-nav {
  .inner-container {
	#nav {
	  @include bp(min-width, 1366px) {
		margin: 0 -15px;
	  }
	}
  }
}

.header-regular:not(.sticky-header) {
  #nav:not(.nav-mobile) {
	//display: flex;
	//justify-content: space-between;

	> li {
	  > a {
		.caret {
		  display: none;
		}
	  }
	}
  }
}

.nav-mobile {
  > .nav-item {
	&.item-active {
	  > a {
		color: $link-hover;
	  }
	}
  }
}

#sticky-nav,
#sticky-catalog-menu{
  display: none;
  visibility: hidden;
}

.sticky-header {
  #sticky-catalog-menu{
	display: block;
	float: left;
	visibility: visible;
  }
}

#sticky-catalog-menu {
  .sticky-main-nav {
	> li {
	  display: block;

	  &:hover {
		> a {
		  color: $white;
		}
	  }

	  > .nav-submenu {
		left: 100% !important;
		top: 0 !important;
	  }
	}
  }
}

.nav-regular {
  .nav-item.level0 {
  	> a {
	  font-size: 13px;
	  letter-spacing: 1px;
	}
  }

  .classic {
	> .nav-panel--dropdown {
	  padding: 0;
	}
  }

  .nav-panel {
	li.mega {
	  &:hover {
		> .nav-panel--dropdown {
		  left: 100%;
		}
	  }
	}
  }

  .nav-submenu--mega > li.classic:hover > .nav-panel--dropdown {
	left: 100%;
  }
}

.the-slideshow-wrapper {
  @include cleaner;

  .the-slideshow {
	@include bp(max-width, 959px) {
	  width: 100%;
	}
  }
}

#nav-left {
  > li {
	position: relative;

	> .nav-submenu {
	  left: 100% !important;
	  top: 0 !important;
	}

	.nav-submenu {
	  padding: 12px 0;
	  box-sizing: border-box;

	  .caret {
		border: none;
	  }
	}
  }

  .nav-item.first > a:before {
	display: none;
  }
}