.homepage-hotcategories {
  margin-bottom: 50px;
  padding-top: 67px;
  padding-bottom: 67px;

  .banner {
	margin: 0 1px;
  }

  .inner-container {
	width: auto;
  }

  .owl-pagination {
	position: relative;
	top: 30px;
  }

  .hotcategory {
	> a {
	  position: relative;
	  display: block;
	  @include trs(opacity .3s ease);

	  &:hover {
		opacity: .75;
	  }

	  .hotcategories-title {
		position: absolute;
		top: 25px;
		left: 6%;
		right: 6%;
		font-size: 1.3125rem;
		line-height: 1.4;
		letter-spacing: .5px;
		text-transform: uppercase;
	  }
	}

	img {
	  width: 100%;
	}
  }

  .owl-controls .owl-buttons {
	top: -50px;
	right: 0;
  }
}

.not-full-width {
  .homepage-unitopblog,
  .homepage-productslider,
  .homepage-banners-container {
	&.container {
	  max-width: 100%;
	  width: 100%;
	}
  }
}

.homepage-unitopblog {
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;

  a {
	@include trs(opacity .3s ease);

	&:hover {
	  opacity: .75;
	}
  }
}

.preface {
  margin-bottom: 48px;
}
@include bp(max-width, 980px) {
   .products-grid{
		.item{
		    .add-to-links {
		        display: block!important;
		        visibility: visible!important;
	    		opacity: 1!important;
		    }
		}
	}
}
.touch{
	.products-grid{
		.item{
		    .add-to-links {
		        display: block!important;
		        visibility: visible!important;
	    		opacity: 1!important;
		    }
		}
	}
}
