<?xml version="1.0"?>
<config>
    <modules>
        <Brander_Shop>
            <version>0.1.10</version>
        </Brander_Shop>
    </modules>
    <global>
        <blocks>
            <brander_shop>
                <class>Brander_Shop_Block</class>
            </brander_shop>
        </blocks>
        <helpers>
            <brander_shop>
                <class>Brander_Shop_Helper</class>
            </brander_shop>
        </helpers>
        <models>
            <brander_shop>
                <class>Brander_Shop_Model</class>
            </brander_shop>
            <directory>
                <rewrite>
                    <currency>Brander_Shop_Model_Config_Directory_Currency</currency>
                </rewrite>
            </directory>
            <catalog>
                <rewrite>
                    <layer>Brander_Shop_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
        </models>

        <resources>
            <brander_shop_setup>
                <setup>
                    <module>Brander_Shop</module>
                    <connection>core_setup</connection>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </brander_shop_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Brander_Shop>
                    <files>
                        <default>Brander_Shop.csv</default>
                    </files>
                </Brander_Shop>
            </modules>
        </translate>
<!--        <layout>
            <updates>
                <brander_shop>
                    <file>rating.xml</file>
                </brander_shop>
            </updates>
        </layout>-->
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <brander_shop>
                    <file>brander_shop.xml</file>
                </brander_shop>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_Shop>
                    <files>
                        <default>Brander_Shop.csv</default>
                    </files>
                </Brander_Shop>
            </modules>
        </translate>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <brander_shop before="Mage_Checkout">Brander_Shop</brander_shop>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>

    <cmsadvanced>
        <pagetypes>
            <emptycategory translate="name" module="brander_cmshome">
                <name>Empty Category</name>
            </emptycategory>
        </pagetypes>
    </cmsadvanced>

    <default>
        <ultimo_design>
            <category>
                <grid_item_image_border></grid_item_image_border>
                <grid_item_image_border_color></grid_item_image_border_color>
                <price_slider_color_background>#f2f2f2</price_slider_color_background>
                <price_slider_color_active>#fb0027</price_slider_color_active>
                <price_slider_color_handle>#fb0027</price_slider_color_handle>
                <price_slider_color_handle_background>#ffffff</price_slider_color_handle_background>
                <labels_font_size_category_grid>14</labels_font_size_category_grid>
                <labels_font_size_category_list>14</labels_font_size_category_list>
            </category>
            <font>
                <custom_acc_icons_pack>1</custom_acc_icons_pack>
            </font>
            <product_page>
                <labels_font_size>16</labels_font_size>
            </product_page>
            <colors>
                <social_icon_border_value translate="label"></social_icon_border_value>
                <label_bestseller_bg_color>#f2f2f2</label_bestseller_bg_color>
                <label_bestseller_color>#fb0027</label_bestseller_color>
                <labels_font_size_slider>14</labels_font_size_slider>
            </colors>
        </ultimo_design>
        <ultimo>
            <header>
                <national_flag_switchers>1</national_flag_switchers>
            </header>
            <product_labels>
                <new_text>New</new_text>
                <sale_text>Sale</sale_text>
                <bestsellers_text>Bestsellers</bestsellers_text>
                <bestsellers>1</bestsellers>
            </product_labels>
            <product_page>
                <viewed_breakpoints>[0, 1], [320, 2], [480, 3], [960, 4], [1280, 5]</viewed_breakpoints>
                <viewed_timeout>8000</viewed_timeout>
            </product_page>
        </ultimo>
        <social_accounts>
            <social_settings>
                <icons_type>square</icons_type>
                <icons_position>1</icons_position>
            </social_settings>
            <social_links>
                <vk>#</vk>
                <facebook>#</facebook>
                <googleplus>#</googleplus>
                <twitter>#</twitter>
                <youtube>#</youtube>
            </social_links>
        </social_accounts>
        <unitop_settings>
            <products_sliders>
                <product_count>10</product_count>
                <breakpoints>[0, 1], [320, 2], [480, 3], [768, 4], [960, 5], [1280, 6]</breakpoints>
                <responsive>1</responsive>
                <show_items>5</show_items>
                <img_width>195</img_width>
                <img_height>195</img_height>
                <aspect_ratio>1</aspect_ratio>
                <init_delay>2000</init_delay>
                <pagination>1</pagination>
                <random>0</random>
                <hide_button>1</hide_button>
                <move>2</move>
                <loop>1</loop>
                <timeout>4000</timeout>
                <speed>1000</speed>
                <auto_speed>1000</auto_speed>
                <pause>1</pause>
                <lazy>1</lazy>
                <centered>1</centered>
                <equal_height>1</equal_height>
            </products_sliders>
        </unitop_settings>
        <cloudzoom>
            <general>
                <use_cloud_zoom_mobile>0</use_cloud_zoom_mobile>
                <use_cloud_zoom_after_width>850</use_cloud_zoom_after_width>
            </general>
        </cloudzoom>
    </default>
</config>