<?xml version="1.0"?>
<config>
    <modules>
        <Brander_CustomerCallbacks>
            <version>0.1.3</version>
        </Brander_CustomerCallbacks>
    </modules>
    <global>
        <blocks>
            <brander_customercallbacks>
                <class>Brander_CustomerCallbacks_Block</class>
            </brander_customercallbacks>
        </blocks>
        <helpers>
            <brander_customercallbacks>
                <class>Brander_CustomerCallbacks_Helper</class>
            </brander_customercallbacks>
        </helpers>
        <models>
            <brander_customercallbacks>
                <class>Brander_CustomerCallbacks_Model</class>
                <resourceModel>brander_customercallbacks_resource</resourceModel>
            </brander_customercallbacks>
            <brander_customercallbacks_resource>
                <class>Brander_CustomerCallbacks_Model_Resource</class>
                <entities>
                    <callbacks>
                        <table>customer_callbacks</table>
                    </callbacks>
                </entities>
            </brander_customercallbacks_resource>
        </models>
        <resources>
            <brander_customercallbacks_setup>
                <setup>
                    <module>Brander_CustomerCallbacks</module>
                </setup>
            </brander_customercallbacks_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customercallbacks before="Mage_Adminhtml">Brander_CustomerCallbacks_Adminhtml</customercallbacks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <brander_customercallbacks>
                    <file>brander_customercallbacks.xml</file>
                </brander_customercallbacks>
            </updates>
        </layout>

        <translate>
            <modules>
                <Brander_CustomerCallbacks>
                    <files>
                        <default>Brander_CustomerCallback.csv</default>
                    </files>
                </Brander_CustomerCallbacks>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <brander_customercallbacks>
                    <file>brander_customercallbacks.xml</file>
                </brander_customercallbacks>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_CustomerCallbacks>
                    <files>
                        <default>Brander_CustomerCallback.csv</default>
                    </files>
                </Brander_CustomerCallbacks>
            </modules>
        </translate>
        <routers>
            <customercallbacks>
                <use>standard</use>
                <args>
                    <module>Brander_CustomerCallbacks</module>
                    <frontName>customercallbacks</frontName>
                </args>
            </customercallbacks>
        </routers>
    </frontend>
    <default>
        <customercallbacks>
            <settings>
                <request_message>Leave your phone number and name. We will contact you shortly.</request_message>
                <confirm_message>Thank you for your request. We'll call you back shortly.</confirm_message>
                <show_comment_field>0</show_comment_field>
                <show_in_header>1</show_in_header>
                <show_in_footer>1</show_in_footer>
            </settings>
        </customercallbacks>
    </default>
</config>