<?xml version="1.0"?>
<config>
    <modules>
        <Brander_Core>
            <version>0.1.0</version>
        </Brander_Core>
    </modules>
    <global>
        <models>
            <brander_core>
                <class>Brander_Core_Model</class>
            </brander_core>
            <core>
                <rewrite>
                    <layout>Brander_Core_Model_Core_Layout</layout>
                </rewrite>
            </core>
            <catalog>
                <rewrite>
                    <product_url>Brander_Core_Model_Catalog_Product_Url</product_url>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <brander_core>
                <class>Brander_Core_Block</class>
            </brander_core>
        </blocks>
        <helpers>
            <brander_core>
                <class>Brander_Core_Helper</class>
            </brander_core>
        </helpers>
        <resources>
            <brander_core_setup>
                <setup>
                    <module>Brander_Core</module>
                </setup>
            </brander_core_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <brander_js>
                <!-- usage:
                    <script_id><dev>dev.js</dev><prod>prod.js</prod>
                     or just use prod
                     or declare in separate xml files (but with same script_id)
                     or like this:
                    <jquery><prod>jquery.min.js</prod></jquery>
                    <jquery><dev>jquery.js</dev></jquery>
                -->
                <jquery>
                    <dev>jquery-1.11.3.js</dev>
                    <prod>jquery-1.11.3.min.js</prod>
                    <priority>10</priority>
                    <!--<enabled>0</enabled>--><!--  - you can turn off this script by this way -->
                </jquery>
                <noconflict>
                    <prod>jquery.noconflict.js</prod>
                    <priority>9</priority>
                </noconflict>
                <j_migrate>
                    <dev>jquery-migrate-1.2.1.js</dev>
                    <prod>jquery-migrate-1.2.1.min.js</prod>
                    <priority>8</priority>
                </j_migrate>
                <jquery_ui>
                    <prod>jquery-ui-1.11.4.min.js</prod>
                    <priority>7</priority>
                </jquery_ui>
                <jquery_mousewheel>
                    <dev>jquery.mousewheel.js</dev>
                    <prod>jquery.mousewheel.min.js</prod>
                    <priority>6</priority>
                </jquery_mousewheel>
                <fancybox>
                    <dev>jquery.fancybox.js</dev>
                    <prod>jquery.fancybox.pack.js</prod>
                    <priority>5</priority>
                </fancybox>
                <!--<bxslider>-->
                    <!--<dev>jquery.bxslider.js</dev>-->
                    <!--<prod>jquery.bxslider.min.js</prod>-->
                    <!--<priority>4</priority>-->
                <!--</bxslider>-->
                <!--<chosen>-->
                    <!--<dev>jquery.chosen.js</dev>-->
                    <!--<prod>jquery.chosen.min.js</prod>-->
                    <!--<priority>3</priority>-->
                <!--</chosen>-->
                <local>
                    <prod>local.js</prod>
                </local>
            </brander_js>
            <brander_css>
                <!--<chosen>-->
                    <!--<dev>chosen/chosen.css</dev>-->
                    <!--<prod>chosen/chosen.min.css</prod>-->
                    <!--<priority>4</priority>-->
                <!--</chosen>-->
                <jquery_ui>
                    <prod>smoothness/jquery-ui-1.10.4.min.css</prod>
                    <priority>3</priority>
                </jquery_ui>
                <fancybox>
                    <prod>fancybox/jquery.fancybox.css</prod>
                    <priority>2</priority>
                </fancybox>
                <!--<bxslider>-->
                    <!--<prod>bxslider/jquery.bxslider.css</prod>-->
                <!--</bxslider>-->
            </brander_css>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <brander_core_prepare_layout_before>
                        <class>brander_core/observer</class>
                        <method>prepareLayoutBefore</method>
                    </brander_core_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <brander_core>
                    <file>brander_core.xml</file>
                </brander_core>
            </updates>
        </layout>
    </adminhtml>
</config>