@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-light-webfont.eot');
  src: url('fonts/exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-light-webfont.woff2') format('woff2'),
  url('fonts/exo2-light-webfont.woff') format('woff'),
  url('fonts/exo2-light-webfont.ttf') format('truetype'),
  url('fonts/exo2-light-webfont.svg#exo_2light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-regular-webfont.eot');
  src: url('fonts/exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-regular-webfont.woff2') format('woff2'),
  url('fonts/exo2-regular-webfont.woff') format('woff'),
  url('fonts/exo2-regular-webfont.ttf') format('truetype'),
  url('fonts/exo2-regular-webfont.svg#exo_2regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-medium-webfont.eot');
  src: url('fonts/exo2-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-medium-webfont.woff2') format('woff2'),
  url('fonts/exo2-medium-webfont.woff') format('woff'),
  url('fonts/exo2-medium-webfont.ttf') format('truetype'),
  url('fonts/exo2-medium-webfont.svg#exo_2medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-semibold-webfont.eot');
  src: url('fonts/exo2-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-semibold-webfont.woff2') format('woff2'),
  url('fonts/exo2-semibold-webfont.woff') format('woff'),
  url('fonts/exo2-semibold-webfont.ttf') format('truetype'),
  url('fonts/exo2-semibold-webfont.svg#exo_2semi_bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-bold-webfont.eot');
  src: url('fonts/exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-bold-webfont.woff2') format('woff2'),
  url('fonts/exo2-bold-webfont.woff') format('woff'),
  url('fonts/exo2-bold-webfont.ttf') format('truetype'),
  url('fonts/exo2-bold-webfont.svg#exo_2bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


input.input-text,
select,
textarea {
  border-color: #6c80c5;
  @include trs(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  &:focus {
	border-color: $link-hover;
  }
}

.preface {
  margin: 0 -15px;
}

#root-wrapper {
  position: relative;
  overflow: hidden;
}

.main-bottom-container {
  .homepage-unitopblog {
	margin: 0;
  }
}

%button {
  min-width: 130px;
  border: 2px solid $link-hover;
  color: $link-hover;
  background: none;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;

  &:hover {
	background: $link-hover;
	color: $white;
  }
}

.btn-remove,
.btn-remove2,
.map-popup-close,
.remember-me-popup-head .remember-me-popup-close,
.btn-edit {
  color: $link-hover;
  line-height: 1;
}

.toolbar {
  .sort-by {
	.category-asc,
	.category-desc {
	  border: 1px solid $border-color-light;
	  width: 36px;
	  height: 36px;
	  line-height: 36px;
	  color: $link-hover;
	}
  }

  .chosen-container {
	margin-right: 22px;
  }

  .limiter {
	display: none;
  }


  .view-mode {
	.ic {
	  font-size: 20px;
	  color: #dbd0db;
	  @include trs(color .3s ease);
	}

  	> label {
	  display: none;
	}
  }
}

// blog pager
.breadcrumbs {
  margin-bottom: 20px;
}

.category-blog {
  .toolbar {
	border-top: 0;

	.pager {
	  border-top: 0;
	}
  }
}

.breadcrumbs {
  li {
	.sep {
	  vertical-align: top;
	  margin: 0 12px 0 10px;
	}
  }
}

#sh_button {
  @include bp(max-width, 767px) {
	min-height: 0;

	.sh_title_text {
	  display: none;
	}
  }
}

.price-box {
  line-height: 1.5;

  .special-price,
  .regular-price,
  .price-as-configured {
	.price {
	  font-size: 1.625rem;
	  color: $darkest !important;
	  font-weight: 600;
	}
  }

  .old-price {
	.price {
	  font-size: 1rem;
	  color: #7b9ccf;
	}
  }
}

.products-grid {
  .item-inner {
	border: 3px solid transparent;
	@include trs(border-color .3s ease);
	
	.product-image {
	  img {
		width: 100%;
		height: auto;
	  }
	}

	.product-name {
	  a {
		color: #35426d;

		&:hover {
		  color: $dark;
		}
	  }
	}

	&:hover {
	  border-color: $link-hover;
	}

	.price-holder {
	  height: 70px;
	  text-align: left;

	  .price-box {
		padding-right: 50px;
		margin: 0;

		.regular-price {
		  display: block;
		  padding-top: 22px;
		}
	  }
	}

	.actions {
	  margin: 0;
	  padding: 0;

	  .btn-cart {
		position: absolute;
		width: 80px;
		height: 72px;
		bottom: -3px;
		right: -3px;
		min-width: 60px;
		border-width: 3px;
		padding: 0;
		border-radius: 20px 0 0;
		text-indent: -9999em;
		color: #1938a5;
		background: $link-hover;
		font-weight: normal;

		&:after {
		  position: absolute;
		  font-family: 'iconpack2';
		  content: '\e221';
		  font-size: 22px;
		  line-height: 1;
		  left: 0;
		  right: 0;
		  top: 24px;
		  text-indent: 0;
		}

		&:hover {
		  background: $white;
		  color: $link-hover;
		}
	  }
	}
  }

  .btn-cart {
	@extend %button;
  }
}

#itemslider-related-multi {
  .item-inner {
	margin-bottom: 40px;
  }
}

.button {
  &:not(.btn-search):not(.btn-subscribe) {
	@extend %button;
  }
}

.discount {
  margin-bottom: 20px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover {
  border-color: #d3d3d3;
}

.benefits-container,
.homepage-benefits {
  margin-bottom: 20px;

  .benefits-grid {
	font-size: 0;
  }

  .benefit {

	> a {
	  display: block;
	  height: 100%;
	  padding: 35px;
	  transition: background-color .4s ease-out;
	  box-sizing: border-box;

	  &:hover {
		background: #ddd;
	  }
	}
  }

  $class-name: "benefits-per-row";
  //@for $i from 1 through 10 {
	//.#{$class-name}-#{$i} .benefit {
	//  width: (100% / $i);
	//}
  //}

  .img-wrap {
	display: block;
	margin-bottom: 20px;
  }

  .benefit-title {
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;

	b {
	  font-weight: normal;
	  line-height: 1.5;
	}
  }

  .benefit-text {
	display: block;
  }

  .product-view & {
	padding: 15px 50px;

	.img-wrap {
	  margin-bottom: 15px;
	}

	.benefit-title {
	  margin-bottom: 8px;
	  font-size: 16px;
	}

	.benefit {
	  > a {
		padding: 15px;
		font-size: 14px;
		line-height: $lh-small;
	  }
	}
  }

  //@include bp(max-width, $bp-medium) {
  //  @for $i from 2 through 10 {
  //    .#{$class-name}-#{$i} .benefit {
  //      width: (100% / ($i - 1));
  //    }
  //  }
  //}

  //@include bp(max-width, $bp-small) {
  //  @for $i from 3 through 10 {
  //    .#{$class-name}-#{$i} .benefit {
  //      width: (100% / ($i - 2));
  //    }
  //  }
  //}

  @include bp(max-width, $bp-tiny) {

	.benefit {
	  width: 100%;

	  > a {
		padding: 15px;
	  }
	}

	.benefit-title {
	  font-size: 16px;
	}

	.benefit-text {
	  font-size: 14px;
	  line-height: 1.3;
	}

	//@for $i from 2 through 10 {
	//  .#{$class-name}-#{$i} .benefit {
	//    width: (100% / ($i - 1));
	//  }
	//}
  }

  @include bp(max-width, $bp-smallest) {
	@for $i from 3 through 10 {
	  .#{$class-name}-#{$i} .benefit {
		//width: (100% / ($i - 2));
		width: 50%;

		@include bp(max-width, $bp-tiny) {
		  width: 100%;
		  text-align: center;
		}
	  }
	}

	.benefit-title {
	  font-size: 14px;
	}
  }

  @include bp(max-width, $bp-micro) {
	@for $i from 4 through 10 {
	  .#{$class-name}-#{$i} .benefit {
		width: (100% / ($i - 3));
	  }
	}
  }
}

.sticker-wrapper {
  .sticker {
	width: auto;
	height: auto;
	padding: 5px;
	border-radius: 0;
  }
}

.the-slideshow {
  .item {
	img {
	  width: 100%;
	}
  }
}

.item-inner {
  position: relative;
  background: $white;
  padding: 20px 10% 0;
}

.section-title {
  font-size: 2rem;
  margin: 0;

  &.padding-right {
	padding-right:95px;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: .25px;
	color: $dark;
  }
}

//owl carousel

.slider-arrows1 .owl-controls {
  .owl-pagination {
	@include bp(min-width, 785px) {
	  display: none;
	}
  }

  .owl-buttons {
	@include bp(max-width, 784px) {
	  display: none;
	}

	div {
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  background: $white;
	  color: $dark;
	  margin-left: 10px;
	  position: relative;
	  @include trs(color .3s ease, background-color .3s ease);

	  &:before {
		position: absolute;
		font-size: 33px;
		line-height: 1;
		left: 0;
		right: 0;
		top: 4px;
	  }

	  &:hover {
		background-color: $link-hover !important;
		color: $white !important;
	  }
	}
  }

  .owl-pagination {
	@include bp(max-width, 479px) {
	  display: block;
	}

	.owl-page {
	  span {
		background-color: #47344c;
	  }

	  &:hover span {
		background-color: $link-hover;
	  }

	  &.active {
		&:hover span,
		span {
		  background-color: $link-hover;
		}
	  }
	}
  }
}

.itemslider-wrapper .owl-controls .owl-buttons {
  top: -48px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}


#uni-main-loader-checkout,
#sub-loader {
  position: fixed;
  z-index: 999;
}

#sub-loader {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/brander/opcheckout/ajax-loader-tr.gif") no-repeat 50% 50%;
  z-index: 100;

  &:after {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: .4;
  }
}

.chosen-container-single {
  .chosen-single {
	text-align: left;
	padding: 0 36px 0 10px;

	div {
	  width: 36px;
	  height: 100%;
	  top: 0;
	  border-left: 1px solid #d7d1d1;
	  
	  &:after {
		position: absolute;
		font-family: BaseIcons;
		content: "\e260";
		font-size: 20px;
		font-weight: bold;
		line-height: 36px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
		color: inherit;
		transform: rotate(-90deg);
		@include trs(.3s ease);
	  }

	  b {
		display: none;
	  }
	}
  }

  &.chosen-with-drop {
	.chosen-single {
	  div {
		&:after {
		  transform: rotate(90deg)
		}
	  }
	}
  }
}

.sorter {
  .sort-by {
	.chosen-container {
	  min-width: 212px;
	}
  }

  .amount {
	display: none;
  }
}

.limiter {
  .chosen-container {
	min-width: 76px;
  }
}

//Contacts
.contacts-wrap {
  @include cleaner;

  .buttons-set p.required {
	margin: 0 0 10px;
	float: none;
  }

  .contacts-form-holder {
	float: left;
	display: table;
	width: calc(100% - 530px);
	margin-right: 30px;

	@include bp(max-width, 850px) {
	  width: 100%;
	  margin-right: 0;
	  margin-bottom: 20px;
	  float: none;
	}

	#contactForm {
	  display: table-footer-group;
	  height: 1%;
	}
  }

  h2.legend,
  .feature .heading {
	font-family: 'PFSquareSansPro', Arial, sans-serif;
	font-weight: bold;
  }

  .contacts-map-holder {
	float: right;
  }

  .feature,
  .phones {
	margin-bottom: 20px;
  }

  .field {
	margin-bottom: 8px;
  }

  .contacts-address {
	font-size: 1.4em;
	padding-top: 20px;
  }

  .form-list input.input-text,
  .field,
  #contactForm textarea {
	width: 100%;
	max-width: 100%;
	resize: vertical;
  }

  @include bp(max-width, 850px) {
	.buttons-set {
	  .button {
		width: 100%;
	  }
	}
  }

  .contacts-map-holder {
	width: 500px;

	@include bp(max-width, 850px) {
	  width: 100%;
	  margin: 0 auto;
	  float: none;

	  #map {
		margin: 0 auto;
	  }
	}
  }
}

//checkboxes
.input-box {
  .checkbox,
  .radio {
	opacity: 0;
	width: 27px;
	height: 27px;
	position: relative;
	cursor: pointer;
	z-index: 2;

	&+.label {
	  position: relative;
	  margin-left: 0;
	  padding-left: 36px;
	  cursor: pointer;
	  z-index: 1;

	  label {
		cursor: pointer;
	  }

	  &:after {
		position: absolute;
		content: '';
		width: 25px;
		height: 25px;
		border: 1px solid #dadada;
		left: 0;
		top: 2px;
		border-radius: 3px;
	  }

	  &:before {
		display: block;
		border: none;
		position: absolute;
		font-family: BaseIcons;
		content: '\e607';
		line-height: 1;
		left: 6px;
		top: 8px;
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		@include trs(opacity .3s ease, visibility .3s ease);
	  }
	}

	&:hover,
	&:checked {
	  &+.label {
		&:before {
		  opacity: 1;
		  visibility: visible;
		}
	  }
	}
  }
}

.control {
  .checkbox {
	opacity: 0;
	display: none;

	&+label {
	  position: relative;
	  margin-left: 0;
	  padding-left: 32px;
	  padding-top: 4px;
	  cursor: pointer;

	  &:after {
		position: absolute;
		//font-family: iconpack1;
		//content: '\e123';
		font-size: 12px;
		width: 23px;
		height: 23px;
		line-height: 1.9;
		text-align: center;
		z-index: 1;
		color: #fff;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity .3s ease, visibility .3s ease;
		transition: opacity .3s ease, visibility .3s ease;
	  }

	  &:before {
		position: absolute;
		content: '';
		width: 21px;
		height: 21px;
		border: 1px solid #d7d1d1;
		top: 0;
		left: 0;
	  }

	}

	&+label:hover,
	&:checked + label {
	  &:after {
		opacity: 1;
		visibility: visible;
		background: $link-hover;
	  }
	}
  }
}

@include bp(max-width, $bp-smallest) {
  .webforms-callback input.input-text {
	width: 100%;
  }
}

//My-account

.my-account {
  label[for="subscription"] {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	padding-top: 2px;
  }

  .box-account {
	.box {
	  margin-bottom: 30px;
	}
  }

  @include bp(max-width, $bp-smallest) {
	.form-list {
	  .field,
	  .input-text {
		width: 100%;
	  }
	}

	.chosen-container {
	  min-width: 100%;
	}
  }
}

.fancybox-lock {
  #sh_button{
	right: 17px;
  }
}


#scroll-to-top {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  @include trs(color .3s ease);
}