@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-light-webfont.eot');
  src: url('fonts/exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-light-webfont.woff2') format('woff2'),
  url('fonts/exo2-light-webfont.woff') format('woff'),
  url('fonts/exo2-light-webfont.ttf') format('truetype'),
  url('fonts/exo2-light-webfont.svg#exo_2light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-regular-webfont.eot');
  src: url('fonts/exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-regular-webfont.woff2') format('woff2'),
  url('fonts/exo2-regular-webfont.woff') format('woff'),
  url('fonts/exo2-regular-webfont.ttf') format('truetype'),
  url('fonts/exo2-regular-webfont.svg#exo_2regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-medium-webfont.eot');
  src: url('fonts/exo2-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-medium-webfont.woff2') format('woff2'),
  url('fonts/exo2-medium-webfont.woff') format('woff'),
  url('fonts/exo2-medium-webfont.ttf') format('truetype'),
  url('fonts/exo2-medium-webfont.svg#exo_2medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-semibold-webfont.eot');
  src: url('fonts/exo2-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-semibold-webfont.woff2') format('woff2'),
  url('fonts/exo2-semibold-webfont.woff') format('woff'),
  url('fonts/exo2-semibold-webfont.ttf') format('truetype'),
  url('fonts/exo2-semibold-webfont.svg#exo_2semi_bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('fonts/exo2-bold-webfont.eot');
  src: url('fonts/exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo2-bold-webfont.woff2') format('woff2'),
  url('fonts/exo2-bold-webfont.woff') format('woff'),
  url('fonts/exo2-bold-webfont.ttf') format('truetype'),
  url('fonts/exo2-bold-webfont.svg#exo_2bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


input.input-text,
select,
textarea {
  border-color: #6c80c5;
  @include trs(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  &:focus {
	border-color: $link-hover;
  }
}

textarea {
  resize: vertical;
}

.inner-container {
  @include bp(min-width, 1366px) {
	padding-left: 100px;
	padding-right: 100px;
  }
}

//.preface {
//  margin: 0 -15px;
//}

#root-wrapper {
  position: relative;
  overflow: hidden;
}

.main-bottom-container {
  .homepage-unitopblog {
	margin: 0;
  }
}

%button {
  display: inline-block;
  vertical-align: top;
  font-family: exo_2, sans-serif;
  min-width: 130px;
  border: 2px solid $link-hover;
  color: #1938a5;
  background-color: $link-hover;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3px;
  box-sizing: border-box;
  @include trs(background-color .3s ease, border-color .3s ease, color .3s ease);

  &:hover {
	background-color: $link-hover-light;
	border-color: $link-hover-light;
  }
}

.btn-remove,
.btn-remove2,
.map-popup-close,
.remember-me-popup-head .remember-me-popup-close,
.btn-edit {
  color: $dark;
  line-height: 1;
}

.link-learn {
  font-style: italic;
  font-weight: 600;

  &:hover {
	color: $link-hover;
  }
}

.toolbar {
  .sort-by {
	.category-asc,
	.category-desc {
	  border: 1px solid $border-color-light;
	  width: 36px;
	  height: 36px;
	  line-height: 36px;
	  color: $dark;

	  &:hover {
		background: #f3f7fd;
		color: $darkest;
	  }
	}
  }

  .chosen-container {
	margin-right: 22px;

	@include bp(max-width, $bp-smallest) {
	  margin-right: 10px;
	}
  }

  .limiter {
	display: none;
  }


  .sorter {
	.view-mode {
	  .ic {
		font-size: 20px;
		background: none;
		color: $dark;
		@include trs(color .3s ease);

		&.checked,
		&:hover {
		  color: $link-hover;
		}
	  }

	  span.ic {
		color: $link-hover;
	  }

	  > label {
		display: none;
	  }
	}
  }
}

// blog pager
.breadcrumbs {
  margin-bottom: 20px;

  li {
	a {
	  line-height: 24px;
	  letter-spacing: .25px;
	  color: #35426d;
	}

	.sep {
	  vertical-align: top;
	  margin: 0 12px 0 10px;
	}
  }
}

.category-blog {
  .toolbar {
	border-top: 0;

	.pager {
	  border-top: 0;
	}
  }
}

#sh_button {
  @include bp(max-width, $bp-tiny) {
	min-height: 0;
	top: auto !important;
	bottom: 20px;

	.sh_title_text {
	  display: none;
	}
  }
}

.price-box {
  line-height: 1.5;

  .special-price,
  .regular-price,
  .price-as-configured {
	.price {
	  font-size: 1.625rem;
	  color: $darkest !important;
	  font-weight: 600;

	  @include bp(max-width, 1280px) {
		font-size: 1.3rem;
		letter-spacing: -1px;
	  }

	  .price-currency {
		font-size: .7em;
	  }
	}
  }

  .old-price {
	.price {
	  font-size: 1em;
	  color: #7b9ccf;

	  @include bp(max-width, 1280px) {
		font-size: 0.8rem;
	  }
	}
  }
}

.products-grid {
  .item-inner {
	border: 3px solid transparent;
	@include trs(border-color .3s ease);
	
	.product-image {
	  img {
		width: 100%;
		height: auto;
	  }
	}

	.product-name {
	  height: 46px;
	  overflow: hidden;

	  a {
		color: #35426d;
		display: block;
		white-space: nowrap; 
	    overflow: hidden; 
	    text-overflow: ellipsis; 

		&:hover {
		  color: $dark;
		}
	  }
	}

	.price-holder {
	  height: 70px;
	  text-align: left;

	  .price-box {
		padding-right: 50px;
		margin: 0;

		.regular-price {
		  display: block;
		  padding-top: 22px;
		}
	  }
	}

	.actions {
	  margin: 0;
	  padding: 0;

	  .btn-cart,
	  .out-of-stock {
		position: absolute;
		width: 80px;
		height: 72px;
		bottom: -3px;
		right: -3px;
		min-width: 60px;
		border-width: 3px;
		padding: 0;
		border-radius: 10px 0 0;
		text-indent: -9999em;
		font-weight: normal;

		&:after {
		  position: absolute;
		  font-family: 'iconpack2';
		  content: '\e221';
		  font-size: 22px;
		  line-height: 1;
		  left: 0;
		  right: 0;
		  top: 24px;
		  text-indent: 0;
		}

		@include bp(max-width, 1280px) {
		  width: 70px;
		}

		@include bp(max-width, 640px) {
		  width: 60px;
		}
	  }

	  .availability.out-of-stock {
		margin: 0;
		padding: 0;
		background: $border-color;
		color: $gray;
		text-align: center;
	  }
	}
  }

  .btn-cart {
	@extend %button;
  }
}

.no-touch {
  .products-grid .item-inner:hover {
	border-color: $link-hover;
  }
}

@include bp(max-width, $bp-smallest) {
  .webforms-callback input.input-text {
	width: 100%;
  }
}

.callbacks-popup {
  max-width: 348px;

  .callbacks-welcome-message {
	margin-bottom: 10px;
  }
}

#itemslider-related-multi {
  margin-bottom: 0;

  .item-inner {
	margin-bottom: 40px;
  }

  .owl-pagination {
	position: relative;
	top: -20px;
  }
}

.button {
  &:not(.btn-search):not(.btn-subscribe) {
	@extend %button;
  }
}

.discount {
  margin-bottom: 20px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover {
  border-color: #d3d3d3;
}

.benefits-container,
.homepage-benefits {
  margin-bottom: 52px;

  .benefits-grid {
	font-size: 0;
  }

  .benefit {
	> a {
	  display: block;
	  height: 100%;
	  padding: 35px;
	  transition: background-color .4s ease-out;
	  box-sizing: border-box;

	  &:hover {
		background: #dae3f5;
	  }
	}
  }

  $class-name: "benefits-per-row";
  //@for $i from 1 through 10 {
	//.#{$class-name}-#{$i} .benefit {
	//  width: (100% / $i);
	//}
  //}

  .img-wrap {
	display: block;
	margin-bottom: 20px;
  }

  .benefit-title {
	display: block;
	margin-bottom: 15px;
  }

  .benefit-text {
	display: block;
  }

  .product-view & {
	padding: 15px 50px;

	.img-wrap {
	  margin-bottom: 15px;
	}

	.benefit-title {
	  margin-bottom: 15px;
	  font-size: 1.125rem;
	}

	.benefit {
	  > a {
		padding: 50px;

		@include bp(max-width, $bp-tiny) {
		  padding: 50px 40px;
		}

		@include bp(max-width, $bp-smallest) {
		  padding: 30px 20px;
		}
	  }
	}
  }

  //@include bp(max-width, $bp-medium) {
  //  @for $i from 2 through 10 {
  //    .#{$class-name}-#{$i} .benefit {
  //      width: (100% / ($i - 1));
  //    }
  //  }
  //}

  //@include bp(max-width, $bp-small) {
  //  @for $i from 3 through 10 {
  //    .#{$class-name}-#{$i} .benefit {
  //      width: (100% / ($i - 2));
  //    }
  //  }
  //}

  @include bp(max-width, $bp-tiny) {

	.benefit {
	  width: 100%;

	  > a {
		padding: 15px;
	  }
	}

	.benefit-title {
	  font-size: 16px;
	}

	.benefit-text {
	  font-size: 14px;
	  line-height: 1.3;
	}

	//@for $i from 2 through 10 {
	//  .#{$class-name}-#{$i} .benefit {
	//    width: (100% / ($i - 1));
	//  }
	//}
  }

  @include bp(max-width, $bp-smallest) {
	@for $i from 3 through 10 {
	  .#{$class-name}-#{$i} .benefit {
		//width: (100% / ($i - 2));
		width: 50%;

		@include bp(max-width, $bp-tiny) {
		  width: 100%;
		}
	  }
	}

	.benefit-title {
	  font-size: 14px;
	}
  }

  @include bp(max-width, $bp-micro) {
	@for $i from 4 through 10 {
	  .#{$class-name}-#{$i} .benefit {
		width: (100% / ($i - 3));
	  }
	}
  }
}

.sticker-wrapper {
  .sticker {
	width: auto !important;
	height: auto !important;
	padding: 10px 18px;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 1.3;
	font-weight: 600;

	&.sale {
	  font-size: 1rem;
	  line-height: 1;
	}

	@include bp(max-width, $bp-small) {
	  padding: 10px;
	}
  }

  &.top-right {
	.sticker {
	  border-radius: 0 0 0 10px;
	}
  }

  &.top-left {
	.sticker {
	  border-radius: 0 0 10px;
	}
  }
}

.the-slideshow {
  &.slider-pagination2 .owl-controls .owl-page span {
	background-color: #1938a5;
  }

  .item {
	img {
	  width: 100%;
	}
  }
}

.item-inner {
  position: relative;
  background: $white;
  padding: 20px 10% 0;

  @include bp(max-width, 1199px) {
	padding: 20px 5% 0;
  }
}

.section-title {
  font-size: 2rem;
  margin: 0;

  &.padding-right {
	padding-right: 100px !important;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1px;
	color: $muddy;
	margin-bottom: 0;
  }
}

.news-link {
  position: relative;
  text-align: center;
  margin-bottom: 72px;

  &:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	left: 0;
	right: 0;
	top: 50%;
	background: #d0e0f5;
  }

  .news-link-holder {
	display: inline-block;
	vertical-align: top;
	background: #e6effb;
	padding: 0 25px;
	position: relative;
	z-index: 1;
  }

  a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 19px;
	color: $dark;
	font-weight: 600;
	letter-spacing: .25px;
	padding: 14px;
	min-width: 290px;
	border-radius: 30px;
	background: #d0e0f5;

	&:hover {
	  background: #b4c7e6;
	}
  }

  @include bp(max-width, $bp-smallest) {
	&:after {
	  display: none;
	}

	.news-link-holder {
	  padding: 0;
	  display: block;
	}

	a {
	  min-width: 100%;
	  width: 100%;
	  box-sizing: border-box;
	}
  }
}

//owl carousel

.slider-arrows1 .owl-controls {
  .owl-pagination {
	@include bp(min-width, 785px) {
	  display: none;
	}
  }

  .owl-buttons {
	@include bp(max-width, 784px) {
	  display: none;
	}

	div {
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  background: $white;
	  color: $dark;
	  margin-left: 10px;
	  position: relative;
	  @include trs(color .3s ease, background-color .3s ease);

	  &:before {
		position: absolute;
		font-size: 33px;
		line-height: 1;
		left: 0;
		right: 0;
		top: 4px;
	  }

	  &:hover {
		background-color: #f3f7fd !important;
		color: $dark !important;
	  }
	}
  }

  .owl-pagination {
	@include bp(max-width, 479px) {
	  display: block;
	}

	.owl-page {
	  span {
		width: 8px;
		height: 8px;
		background-color: #1938a5;
	  }

	  &:hover span {
		width: 12px;
		height: 12px;
		background-color: #1938a5;
	  }

	  &.active {
		&:hover span,
		span {
		  width: 12px;
		  height: 12px;
		  background-color: #1938a5;
		}
	  }
	}
  }
}

.itemslider-wrapper {
  margin: 0 -10px;

  .owl-controls .owl-buttons {
	top: -46px;
	right: 8px;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}


#uni-main-loader-checkout,
#sub-loader {
  position: fixed;
  z-index: 999;
}

#sub-loader {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/brander/opcheckout/ajax-loader-tr.gif") no-repeat 50% 50%;
  z-index: 10000;

  &:after {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: .4;
  }
}

.chosen-container-single {
  .chosen-single {
	text-align: left;
	padding: 0 36px 0 10px;

	div {
	  width: 36px;
	  height: 100%;
	  top: 0;
	  
	  &:after {
		position: absolute;
		font-family: BaseIcons;
		content: "\e260";
		font-size: 20px;
		font-weight: bold;
		line-height: 36px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
		color: inherit;
		transform: rotate(-90deg);
		@include trs(.3s ease);
	  }

	  b {
		display: none;
	  }
	}
  }

  &.chosen-with-drop {
	.chosen-single {
	  div {
		&:after {
		  transform: rotate(90deg)
		}
	  }
	}
  }
}

.sorter {
  .sort-by {
	.chosen-container {
	  min-width: 212px;
	}

	@include bp(max-width, $bp-smallest) {
	  label {
		display: none;
	  }
	}
  }

  .amount {
	display: none;
  }
}

.limiter {
  .chosen-container {
	min-width: 76px;
  }
}

//Contacts
.contacts-wrap {
  @include cleaner;

  .buttons-set p.required {
	margin: 0 0 10px;
	float: none;
  }

  .contacts-form-holder {
	float: left;
	display: table;
	width: calc(100% - 530px);
	margin-right: 30px;

	@include bp(max-width, 850px) {
	  width: 100%;
	  margin-right: 0;
	  margin-bottom: 20px;
	  float: none;
	}
  }

  h2.legend,
  .feature .heading {
	font-family: 'PFSquareSansPro', Arial, sans-serif;
	font-weight: bold;
  }

  .contacts-map-holder {
	float: right;
  }

  .feature,
  .phones {
	margin-bottom: 20px;
  }

  .field {
	margin-bottom: 21px;
  }

  .contacts-address {
	font-size: 1.4em;
	padding-top: 20px;
  }

  .form-list input.input-text,
  .field,
  #contactForm textarea {
	width: 100%;
	max-width: 100%;
	resize: vertical;
  }

  @include bp(max-width, 850px) {
	.buttons-set {
	  .button {
		width: 100%;
	  }
	}
  }

  .contacts-map-holder {
	width: 500px;
	padding-top: 32px;

	@include bp(max-width, 850px) {
	  width: 100%;
	  margin: 0 auto;
	  float: none;

	  #map {
		margin: 0 auto;
	  }
	}
  }
}

//checkboxes
.input-box {
  .checkbox,
  .radio {
	opacity: 0;
	width: 27px;
	height: 27px;
	position: relative;
	cursor: pointer;
	z-index: 2;

	&+.label {
	  position: relative;
	  margin-left: 0;
	  padding-left: 36px;
	  cursor: pointer;
	  z-index: 1;

	  label {
		cursor: pointer;
	  }

	  &:after {
		position: absolute;
		content: '';
		width: 25px;
		height: 25px;
		border: 1px solid #dadada;
		left: 0;
		top: 2px;
		border-radius: 3px;
	  }

	  &:before {
		display: block;
		border: none;
		position: absolute;
		font-family: BaseIcons;
		content: '\e607';
		line-height: 1;
		left: 6px;
		top: 8px;
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		@include trs(opacity .3s ease, visibility .3s ease);
	  }
	}

	&:hover,
	&:checked {
	  &+.label {
		&:before {
		  opacity: 1;
		  visibility: visible;
		}
	  }
	}
  }
}

.control {
  .checkbox {
	opacity: 0;
	display: none;

	&+label {
	  position: relative;
	  margin-left: 0;
	  padding-left: 32px;
	  padding-top: 4px;
	  cursor: pointer;

	  &:after {
		position: absolute;
		font-family: BaseIcons;
		content: '\e607';
		font-size: 12px;
		width: 23px;
		height: 23px;
		line-height: 1.9;
		text-align: center;
		z-index: 1;
		color: $dark;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity .3s ease, visibility .3s ease;
		transition: opacity .3s ease, visibility .3s ease;
	  }

	  &:before {
		position: absolute;
		content: '';
		width: 21px;
		height: 21px;
		border: 1px solid #d7d1d1;
		top: 0;
		left: 0;
	  }

	}

	&+label:hover,
	&:checked + label {
	  &:after {
		opacity: 1;
		visibility: visible;
		background: $link-hover-light;
	  }
	}
  }
}

@include bp(max-width, $bp-smallest) {
  .webforms-callback input.input-text {
	width: 100%;
  }
}

.itemslider-related-wrapper {
  @include bp(max-width, 767px) {
	display: none;
  }
}

.itemslider-related-mobile-wrapper {
  display: none;

  @include bp(max-width, 767px) {
	display: block;
  }
}

//My-account

.my-account {
  label[for="subscription"] {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	padding-top: 2px;
  }

  .box-account {
	.box {
	  margin-bottom: 30px;
	}
  }

  @include bp(max-width, $bp-smallest) {
	.form-list {
	  .field,
	  .input-text {
		width: 100%;
	  }
	}

	.chosen-container {
	  min-width: 100%;
	}
  }

  .buttons-set2 {
	button {
	  margin-bottom: 5px;
	}
  }

  .my-wishlist {
	@include bp(max-width, $bp-tiny) {
	  .btn-cart {
		height: 36px;
	  }

	  .btn-remove {
		width: auto;
		height: auto;

		&:before {
		  display: inline-block;
		  vertical-align: bottom;
		}
	  }
	}
  }
}

.link-wishlist {
  position: relative;
  font-size: 0;

  &:before {
	font-family: iconpack2;
	content: "\e903";
	font-size: 1rem;
  }

  &:hover {
	color: $link-hover;
  }
}

.sidebar {
  @include bp(max-width, $bp-tiny) {
	.block-account {
	  .block-title {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding-right: 20px;

		&:before {
		  position: absolute;
		  right: 0;
		  top: 50%;
		  margin-top: -3px;
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-top: 6px solid #35426d;
		  border-radius: 3px;
		  content: '';
		  vertical-align: middle;
		}

		&.active {
		  &:before {
			transform: rotate(180deg);
		  }
		}
	  }
	}
  }
}

#my-orders-table {
  .nobr {
	@include bp(max-width, $bp-small) {
	  white-space: normal !important;
	}
  }
}

.fancybox-lock {
  #sh_button{
	right: 17px;
  }
}

#scroll-to-top {
  color: #163294;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  @include trs(color .3s ease, background-color .3s ease);
  
  &:hover {
	color: #163294;
	background: #f3f7fd;
  }
}

.cart-table {
  @include bp(max-width, $bp-smallest) {
	.btn-inline {
	  width: 100%;
	  margin-bottom: 7px;
	}
  }
}

.cmsadvanced-page-view {
  &.contacts {
	table {
	  width: 100%;
	  margin-bottom: 30px;
	  table-layout: fixed;

	  td {
		width: 50%;
		padding-right: 25px;

		& + td {
		  padding-right: 0;
		  padding-left: 25px;
		}
	  }

	  @include bp(max-width, $bp-tiny) {
		td {
		  display: block;
		  width: 100%;
		  padding: 0;

		  & + td {
			padding: 0;
		  }
		}
	  }

	  strong {
		display: block;
		font-size: 1rem;
		font-weight: 600;
		margin-top: 15px;
	  }
	}
  }
}

.cms-index-noroute {
  .sidebar {
	border: none;
  }

  .std {
	font-size: 1rem;
  }
}
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}