// main styles

.button,
.btn-cart,
.btn-checkout {
  text-transform: uppercase;
  line-height: 1.2;
}

//.products-grid {
//  .price-box {
//	display: table;
//	width: 100%;
//	min-height: 61px;
//
//	.regular-price {
//	  display: block;
//	}
//  }
//}

.social-links .ib,
.social-links a > span.icon {
  cursor: pointer;
}

//Posts

.post-list {
  .post-shop {
	text-align: center;

	.bullet li {
	  background: none;
	  font-size: 1.28rem;
	}

	.post-name {
	  font-size: 1.71rem;
	}

	.desc {
	  color: #838383;
	  font-size: 1.28rem;
	}
  }

  div.show-post {
	display: block;
	text-align: right;

	> span {
	  font-size: 1.28rem;
	  font-style: italic;
	}
  }
}

//Nav
@media only screen and (max-width: 1279px) and (min-width: 1024px) {
  .nav-regular .nav-item.level0 > a {
	padding: 0 12px;
  }
}

.nav-regular .classic > .nav-panel--dropdown li {
  position: relative;
}

.nav-regular .simple > ul > li > a,
.nav-regular .nav-submenu--mega > li > ul > li {
  &:after {
	position: absolute;
	font-family: BaseIcons;
	content: "\e260";
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	left: 5px;
	top: 50%;
	margin-top: -7px;
	transform: rotate(180deg);
  }
}

.nav-regular .nav-item.level0.first-regular {
  width: 25%;

  &.active {
	> a {
	  background: #132b7f;
	  color: #fff;
	}

	&:hover {
	  > a {
		color: #f2f2f2;
	  }
	}
  }
}

#nav-left {
  border: solid #dfe8f1;
  border-width: 0 0 1px 1px;

  li {
	background: $gray;

	> a {
	  font-size: 1rem;
	  font-weight: 500;
	  padding-left: 25px;
	  color: #35426d;
	  text-transform: none;

	  @include bp(max-width, 1024px) {
		padding-left: 15px;
	  }

	  > .caret {
		float: right;
	  }
	}
  }

  ul.nav-submenu {
	padding: 0;

	li {
	  padding: 0;

	  a {
		padding: 0 20px;
		line-height: 50px;
	  }
	}
  }
}

//Product page

#goto-reviews-form {
  font-weight: bold;
}

.product-view {
  > form {
	padding-top: 20px;
  }

  .qty-wrapper {
	label {
	  display: none;
	}
  }

  .qty-wrapper {
	line-height: 55px;

	@include bp(max-width, 1199px) {
	  margin-bottom: 20px;
	}

	@include bp(max-width, 960px) {
	  float: none;
	}

	@include bp(max-width, $bp-tiny) {
	  margin-right: 20px;
	}

	@include bp(max-width, $bp-smallest) {
	  margin-right: 0;
	}

	> label {
	  display: none;
	}

	.ui-spinner {
	  width: 104px;
	  text-align: center;
	  border: none;
	  padding-right: 46px;
	  box-sizing: border-box;
	  height: 60px;

	  @include bp(max-width, $bp-desktop) {
		width: 195px;
	  }

	  &.ui-widget-content {
		background: $gray;
	  }
	}

	#qty {
	  font-size: 30px;
	  height: auto;
	  border: none;
	  background: $gray;
	  box-shadow: none;
	  margin: 0;
	  padding: 0 32px 0 0;
	}

	.ui-spinner {
	  border-radius: 0;
	}

	.ui-spinner-button {
	  width: 45px;
	  height: 28px;
	  border: solid #fff !important;
	  background: $gray;
	  border-radius: 0;
	  cursor: pointer;

	  &:last-child {
		border-bottom: none;
		height: 29px;
	  }

	  &.ui-spinner-up {
		border-width: 0 0 3px 3px !important;

		&:after {
		  content: '+';
		}
	  }

	  &.ui-spinner-down {
		border-width: 3px 0 0 3px !important;

		&:after {
		  content: '-';
		}
	  }

	  &:after {
		top: 0;
		font-size: 20px;
		position: absolute;
		left: 0;
		right: 0;
		line-height: 1.3;
		color: #a0a0a0;
		font-weight: bold;
	  }

	  &.ui-state-hover {
		background: darken($gray, 10%);
	  }
	}

	.ui-state-default .ui-icon {
	  background: none;
	}
  }

  .ib.icon-color-productview, span.icon.icon-color-productview {
	background: none;
	font-size: 2em;
  }

  .add-to-box,
  .product-type-data > .price-box {
	border: none;
  }

  .gen-tabs {
	.tabs {
	  a {
		position: relative;
	  }
	}

	.tabs-panels {
	  font-size: 1rem;

	  .button {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .5px;
	  }
	}
  }

  .section-title {
	border: none;
  }
}

.ib-hover.icon-color-productview:hover,
.feature-icon-hover:hover .ib.icon-color-productview,
.feature-icon-hover:hover span.icon.icon-color-productview {
  background: none !important;
}

.product-view .product-shop .price-box .regular-price .price,
.product-view .product-shop .price-box .special-price .price,
.product-view .product-shop .price-box .special-price .price-label,
.product-view .product-shop .price-box .price-including-tax .price,
.product-view .product-options-bottom .price-box .regular-price .price,
.product-view .price-as-configured .price,
.map-popup-price .regular-price .price,
.product-view .price-box.map-info .old-price .price {
  font-size: 2rem;
}

.product-shop .price-box .old-price .price {
  font-size: 1.143em;
}

//end product page

// Footer

.footer-primary-top-spacing {
  margin-bottom: 40px;
}

.footer-primary-bottom {
  @include bp(max-width, $bp-desktop) {
	.item {
	  float: none;
	  margin: 0 0 30px;
	  text-align: center;

	  &:last-child {
		margin-bottom: 0;
	  }

	  #subscribe-form {
		max-width: 570px;
		margin: 0 auto;
	  }
	}
  }
}

//Cart

.cart {
  @include bp(max-width, $bp-tiny) {
	.btn-remove,
	.btn-remove2 {
	  width: auto;
	  height: auto;
	  line-height: 1;

	  &:before {
		margin-right: 5px;
	  }
	}
  }

  .col-edit {
	a {
	  position: relative;
	  font-size: 0;

	  &:before {
		font-size: 14px;
		font-family: BaseIcons;
		display: inline-block;
		content: "\e22e";
	  }
	}
  }
}