<?xml version="1.0"?>
<config>
    <modules>
        <Brander_Contacts>
            <version>0.1.0</version>
        </Brander_Contacts>
    </modules>
    <global>
        <models>
            <brander_contacts>
                <class>Brander_Contacts_Model</class>
            </brander_contacts>
        </models>
        <blocks>
            <brander_contacts>
                <class>Brander_Contacts_Block</class>
            </brander_contacts>
        </blocks>
        <helpers>
            <brander_contacts>
                <class>Brander_Contacts_Helper</class>
            </brander_contacts>
        </helpers>
        <resources>
            <brander_contacts_setup>
                <setup>
                    <module>Brander_Contacts</module>
                    <class>Brander_Cms_Model_Entity_Setup</class>
                </setup>
            </brander_contacts_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <Brander_Contacts>
                    <file>brander_contacts.xml</file>
                </Brander_Contacts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_Contacts>
                    <files>
                        <default>Brander_Contacts.csv</default>
                    </files>
                </Brander_Contacts>
            </modules>
        </translate>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <brander_contacts before="-">Brander_Contacts</brander_contacts>
                    </modules>
                </args>
            </contacts>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Brander_Contacts>
                    <files>
                        <default>Brander_Contacts.csv</default>
                    </files>
                </Brander_Contacts>
            </modules>
        </translate>
    </adminhtml>

    <cmsadvanced>
        <pagetypes>
            <contacttype translate="name" module="brander_contacts">
                <name>Contacts page</name>
                <template>brander/contacts/main.phtml</template>
                <groups>
                    <contacts_shops>
                        <name>Shops</name>
                        <attributes>
                            <shops_list>
                                <input>grid</input>
                            </shops_list>
                        </attributes>
                    </contacts_shops>
                </groups>
            </contacttype>
        </pagetypes>
    </cmsadvanced>
</config>