.homepage-hotcategories-container .hotcategory > a .hotcategories-title:after {
	background: #ccc;
}

.products-grid .product-name a {
	color: #ccc;
}
.products-grid .product-name a:hover {
	color: #ddd;
}

.post-list div.show-post > span {
	color: #ddd;
}
.post-list div.show-post > span:hover {
	color: #ccc;
}

#goto-reviews-form {
	color: #ddd;
}
#goto-reviews-form:hover {
	color: #ccc;
}

.footer .callback-footer {
	color: #ddd;
}
.footer .callback-footer:hover {
	color: #ccc;
}

.checkout-actions-wrap .field .input-box .tt-dropdown-menu .tt-suggestion {
	color: #ddd;
}
.checkout-actions-wrap .field .input-box .tt-dropdown-menu .tt-suggestion.tt-cursor,
.checkout-actions-wrap .field .input-box .tt-dropdown-menu .tt-suggestion:hover {
	color: #ccc;
}

.user-menu .dropdown .is-not-empty .icon {
	color: #ddd;
}