<?xml version="1.0"?>
<!--
/**
 * {{Brander}}_CategoryBanner extension
 */
-->
<config>
    <modules>
        <Brander_CategoryBanner>
            <version>0.0.1</version>
        </Brander_CategoryBanner>
    </modules>
    <global>
        <resources>
            <brander_categorybanner_setup>
                <setup>
                    <module>Brander_CategoryBanner</module>
                    <class>Brander_CategoryBanner_Model_Resource_Setup</class>
                </setup>
            </brander_categorybanner_setup>
        </resources>
        <blocks>
            <brander_categorybanner>
                <class>Brander_CategoryBanner_Block</class>
            </brander_categorybanner>
        </blocks>
        <helpers>
            <brander_categorybanner>
                <class>Brander_CategoryBanner_Helper</class>
            </brander_categorybanner>
        </helpers>
        <models>
            <brander_categorybanner>
                <class>Brander_CategoryBanner_Model</class>
                <resourceModel>brander_categorybanner_resource</resourceModel>
            </brander_categorybanner>
            <brander_categorybanner_resource>
                <class>Brander_CategoryBanner_Model_Resource</class>
                <entities>
                    <categorybanner>
                        <table>brander_categorybanner_categorybanner</table>
                    </categorybanner>
                    <categorybanner_store>
                        <table>brander_categorybanner_categorybanner_store</table>
                    </categorybanner_store>
                    <categorybanner_category>
                        <table>brander_categorybanner_categorybanner_category</table>
                    </categorybanner_category>
                </entities>
            </brander_categorybanner_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <brander_categorybanner>
                    <file>brander_categorybanner.xml</file>
                </brander_categorybanner>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_CategoryBanner>
                    <files>
                        <default>Brander_CategoryBanner.csv</default>
                    </files>
                </Brander_CategoryBanner>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <brander_categorybanner_categorybanner_category>
                        <type>singleton</type>
                        <class>brander_categorybanner/adminhtml_observer</class>
                        <method>addCategoryCategorybannerBlock</method>
                    </brander_categorybanner_categorybanner_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <brander_categorybanner_categorybanner_category>
                        <type>singleton</type>
                        <class>brander_categorybanner/adminhtml_observer</class>
                        <method>saveCategoryCategorybannerData</method>
                    </brander_categorybanner_categorybanner_category>
                </observers>
            </catalog_category_save_after>
        </events>
        <global_search>
            <categorybanner>
                <class>brander_categorybanner/adminhtml_search_categorybanner</class>
                <acl>brander_categorybanner</acl>
            </categorybanner>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Brander_CategoryBanner before="Mage_Adminhtml">Brander_CategoryBanner_Adminhtml</Brander_CategoryBanner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <brander_categorybanner>
                    <file>brander_categorybanner.xml</file>
                </brander_categorybanner>
            </updates>
        </layout>
        <translate>
            <modules>
                <Brander_CategoryBanner>
                    <files>
                        <default>Brander_CategoryBanner.csv</default>
                    </files>
                </Brander_CategoryBanner>
            </modules>
        </translate>
    </frontend>
    <default>
        <brander_categorybanner>
        </brander_categorybanner>
    </default>
</config>
